[2020-03-17 00:57] mikeallbutt opened #275 "<- arrow button to show response when pressed"
The back arrow button (at the top of any contact or group screen) needs to provide a visible response that it has been pressed (like the cancel and save buttons do).

[2020-03-18 16:29] mikeallbutt opened #276 "Contact & Group: Tabs not being translated"
When using DT in Spanish, the tabs are not being translated. They stay in English and are not Spanish. The rest is the app interface is correct, except all the tab words: (Details, Progress, Comments etc.)

![Screenshot_20200318-101642](https://user-images.githubusercontent.com/43966676/76983053-64c98180-6902-11ea-9431-b842cde44721.png)

[2020-03-18 19:14] mikeallbutt opened #277 "Apply new icons to the date fields"
The group details screen (including in edit mode) uses the same 3 icons for Start Date, Church Start Date and End date.

The same icons that are used on the DT website should be used here also.

[2020-03-18 19:23] mikeallbutt commented on #277
The necessary icons are already in the /assets/icons folder.

group start
![date-start](https://user-images.githubusercontent.com/43966676/76998655-1aa0ca00-691b-11ea-91ea-fee2da2b568b.png)

church start
![date-success](https://user-images.githubusercontent.com/43966676/76998704-28564f80-691b-11ea-9008-01fe6c1b77d2.png)

end group
![date-end](https://user-images.githubusercontent.com/43966676/7699

[2020-03-19 15:55] mikeallbutt opened #278 "Replace inconsistent icons"
In some places, some of the fields use different icons to what is seen on the DT website.

Replace the icons with the same as the website.

- [ ] Gender
- [ ] Source

Here are the new icons:

![gender](https://user-images.githubusercontent.com/43966676/77086696-b7b93c80-69c7-11ea-9a63-84423a8c1b5c.png)
![source](https://user-images.githubusercontent.com/43966676/77086702-bb4cc380-69c7-11ea-83dd-bd

[2020-03-19 16:31] mikeallbutt opened #280 "The offline message is not being displayed on all screens"
The offline message does not appear on the settings page, when adding a new contact or adding a new group.

_Originally posted by @mikeallbutt in https://github.com/DiscipleTools/disciple-tools-mobile-app/issues/58#issuecomment-562222596_

[2020-03-19 16:45] mikeallbutt opened #281 "Status icons missing"
The Contact Status and Group Status icons are not present.

They need to be added on the details and edit screens of both a contact and group.

The following image can be used and has been uploaded to the assets/icons folder.

![status](https://user-images.githubusercontent.com/43966676/77091769-9871dd80-69ce-11ea-9727-099fcc3e4293.png)

[2020-03-19 17:25] mikeallbutt commented on #276
Until this is fixed, the screenshots for the upcoming release can not be done.

[2020-03-19 17:45] mikeallbutt commented on #281
Related to this is that the status field doesn't display any information nor the colours when in offline mode.

[2020-03-19 19:54] mikeallbutt opened #282 "Title changes from list to record view"
As can be seen in the following video, the title of the group changes from what is listed on the group list screen to what is used in the group record page.

https://www.youtube.com/embed/Odks2GVI7vc

It seems that it is getting this information from 2 different fields.

[2020-03-19 20:06] mikeallbutt opened #283 "Contact status changes automatically"
This video shows what is happening with the contact status.

https://www.youtube.com/watch?v=kYymbv2t00A

[2020-03-19 21:19] zdmc23 commented on #273
Duplicate of #266

[2020-03-19 21:19] #273 closed

[2020-03-19 21:21] zdmc23 commented on #275
Hi @mikeallbutt , I am not sure that I understand this... if I select a Contact from the Contact List, and then click the back arrow to navigate back to the Contact List, then why do I need a "toast" to indicate that an action has taken place when clearly it has because I have changed screens.

Is there a particular scenario, or some popular app functionality, that you have in mind? Thx!

[2020-03-19 21:30] zdmc23 commented on #276
Hi @mikeallbutt , some of the translation comes from the D.T Website, while other is hardcoded in the Mobile App Release.  In this case, is the D.T Instance that you're logging into configured to display in English?

[2020-03-20 04:33] mikeallbutt commented on #276
@zdmc23 I tested this with issue with various logins on different instances, and the tabs never displayed in Spanish, even if the DT user was set to use spanish.

[2020-03-24 15:10] raschdiaz commented on #235
Hi @zdmc23 , I have created a new PR (https://github.com/DiscipleTools/disciple-tools-mobile-app/pull/285), when I test this with this changes, the flow works as spected, can you try another test please?.

[2020-03-24 15:18] #59 closed

[2020-03-24 15:18] #265 closed

[2020-03-24 18:51] mikeallbutt commented on #265
Maybe I am using the wrong app, but this issue doesn't seem to be resolved. I tested it with the current development version using expo on my android phone.
I signed into the app, went into offline mode, viewed a group then the members tab -  and the rows are all listed but no contact names next to each footprint.

[2020-03-27 02:28] #250 closed

[2020-03-27 02:28] #280 closed

[2020-03-27 02:30] zdmc23 commented on #262
Hi @mikeallbutt , I think that you have a video capture of this issue, correct?  If so, would you kindly paste a link to view here so that @raschdiaz can view it.  Thx!

[2020-03-27 03:03] zdmc23 commented on #251
Hi @raschdiaz , Yes, we should have a way to enable background requests and/or retry when one of the requests fails, or we need to prevent the login altogether.  Showing the user an error is unhelpful bc it's confusing.

Do we understand *why* the requests are failing so frequently?

[2020-03-27 03:07] zdmc23 commented on #253
Hi @raschdiaz , Yes, let's use a similar flow that is already in place for the Location fields.

[2020-03-27 03:09] zdmc23 commented on #198
Moving to a later Sprint bc this doesn't seem to be a high priority

[2020-03-27 03:12] zdmc23 commented on #254
The Team previously agreed upon email per Issue #55 , so we'll mark this as `wontfix` for now, but leave open in case we would like to revisit later

[2020-03-27 03:20] zdmc23 commented on #262
@raschdiaz , please see the related examples from #256

[2020-03-27 03:35] zdmc23 opened #287 "Save and Cancel buttons remain after clicking Save"
Observed on iOS

Steps to reproduce:
1. Click `Groups` Tab
1. Select `Atlat` Group
1. Navigate to `Members` Tab
1. Add a Member
1. Click `Save`

`Cancel` and `Save` buttons remain.  It's not only the `Members` Screen, it applies to other Screens as well.

![DD6CE414-44BD-45AB-B437-28C8084CD745](https://user-images.githubusercontent.com/191707/77719084-c9e43d80-6fba-11ea-9b6f-65da418d55b0.png)

[2020-03-27 03:36] zdmc23 commented on #287
![E20C7488-83C0-4A01-B3D1-17A9FA354A39](https://user-images.githubusercontent.com/191707/77719002-a1f4da00-6fba-11ea-9df0-9882ea135aac.png)

[2020-03-27 03:38] zdmc23 commented on #235
Confirmed on iOS

[2020-03-27 03:38] #235 closed

[2020-03-27 03:47] zdmc23 opened #288 "Refresh Screen upon Navigation"
Observed on iOS

Steps to reproduce:
1. Click `Groups` Tab
1. Select `Atlat` Group
1. Navigate to `Members` Tab
1. Click on `Zac Contact` from `Members` List
1. (From `Zac Contact`) Navigate to `Connections`
1. Click `Edit` button
1. Remove `Atlat` from Groups
1. Click `Save` button
1. Click `Groups` Tab

Observe that `Zac Contact` still shows as a `Member`.  If we would Refresh this Screen (and i

[2020-03-27 03:52] zdmc23 commented on #275
We `wontfix` this one bc I am not aware of any other common mobile apps that display feedback on every single navigation click.  The screen change itself should be sufficient.  Thx!

[2020-03-27 03:52] #275 closed

[2020-03-27 03:53] zdmc23 commented on #276
@mikeallbutt Thx!  I've added it to the next Sprint to be fixed

[2020-03-27 04:00] mikeallbutt commented on #254
How will people find the documentation if the help/support doesn't go to the place where they can get help?
I really think we need to adjust the link to first go to the documentation which also has a way to contact and ask for further help.
Who will be answering all the emails when people click the help too? Sending them to the documentation will save lots of time replying I believe.

[2020-03-27 04:02] zdmc23 commented on #254
We can still include a clickable link in the Settings to the Website, and we have the Website link in the App and Play Store.

[2020-03-27 04:03] mikeallbutt commented on #262
I don't have a video, but it can easily be tested simply by editing a contact which has connections, and seeing from the comment activity after saving, that the connections were removed.

[2020-03-27 15:15] raschdiaz commented on #256
Hi @zdmc23 ,we need to know what is the amount of data saved on back-end side, to validate if is viable to get all data and save it in local mobile storage. Remember the problems that try to have too much data on mobile storage.

[2020-03-27 16:14] zdmc23 commented on #256
Hi @raschdiaz , as you recall, we removed the 6Mb local storage default limit from Android (referenced on a previous Trello Card), so we should have the user's entire available disk space to work with.

We would need you to work with @mikeallbutt to test a change to download the data (since he seems to have the most Contacts/Groups, etc...) and experiment with how long it takes, with which request

[2020-03-31 10:27] ahillbilly opened #289 "Apple App Store requirement changes - June 30, 2020"
- Apps for iPhone or iPad must be built with the iOS 13 SDK or later and use an Xcode storyboard to provide the app’s launch screen.
- iPhone apps must support all iPhone screens and all iPad apps must support all iPad screens.
- Apps that authenticate or set up user accounts must support Sign in with Apple if required by guideline 4.8 of the App Store Review Guidelines.
Apps in the Kids category

[2020-03-31 10:28] ahillbilly commented on #289
From developer:
The only significant change for Disciple.Tools is the requirement to build using XCode (vs Expo Cloud builds that we use now), but we also have a Mac and so we should be fine there.

[2020-04-01 14:25] zdmc23 opened #290 "Auto pagination of endpoints in background"
Automated Pagination of endpoints like: "/v2/contacts", "/v2/groups", and "/v1/users/get_users" in the background.

At Login: we will continue to request only 100 most recent for "/v2/contacts" and "/v2/groups" like we currently do, in order to make the Login transition to Contact List more seamless, but then continue loading in the background.

We will want a `loading` variables to track status o

[2020-04-01 14:28] zdmc23 opened #291 "Pre-package data with release"
This is a short-term solution to make larger datasets like "locations" and "peopleGroups" available in offline mode.  Longer-term we will enable endpoints to have current data hash values to know whether what we have is in-sync, or whether we need to request an update.

Relates to #256 and #262

[2020-04-01 14:30] zdmc23 opened #292 "Retry strategy for endpoints that fail due to intermittent connection issues or timeouts with API"
Implement a strategy to retry endpoints that fail due to intermittent connectivity or timeout

Relates to #290

[2020-04-01 14:39] zdmc23 commented on #253
This should be auto-resolved by #290

[2020-04-13 13:54] zdmc23 commented on #291
`wontfix`

[2020-04-13 13:54] #291 closed

[2020-04-15 15:06] corsacca commented on #282
This is not an app issue. It is old data returned from the API and is now fixed.

[2020-04-15 15:06] #282 closed

[2020-04-15 15:37] mikeallbutt commented on #282
Thanks @corsacca for helping discover what was causing this. It seems that the meta_value was being used from wp_postmeta when the meta_key was set to title. This data is obsolete but the app was using it.

[2020-04-16 15:23] zdmc23 commented on #289
Per this Expo documentation: https://docs.expo.io/versions/v37.0.0/guides/splash-screens/

it seems to be saying that we could use XCode to create a Storyboard for our Splash image one-time, then reference it for each build, and so we could conitnue with Expo cloud builds as is.

Eventually, it'd be good to wean the App from Expo dependence and have a Native/RN Hybrid, where we'd make use of some

[2020-04-20 20:31] raschdiaz opened #296 "Incorrect status ONLINE / OFFLINE is displayed on the mobile"
Sometimes, when disable/enable the Wifi in the phone, the app does not show the correct status (ONLINE/OFFLINE).

[2020-04-20 23:52] #296 closed

[2020-04-20 23:52] #256 closed

[2020-04-20 23:54] zdmc23 commented on #262
https://github.com/DiscipleTools/disciple-tools-mobile-app/commit/9d65b12b75191b1e92dba97d95584827499ce285

[2020-04-20 23:54] #262 closed

[2020-04-23 01:55] raschdiaz commented on #256
I want to comment this possible flow found after testing:
After the testing, I discovered a behavior that we don't take into account when making this change: When you are in OFFLINE mode, create a contact then add this contact to a connection field, this last UPDATE does not work, because the ID of the contact its a autogenerated ID. Currently the mobile does not UPDATE this ID when the contact it

[2020-04-25 19:44] #276 closed

[2020-04-27 16:02] mikeallbutt opened #300 "Contact Status: Facebook - difficult to read"
As can be seen in the attached image, when the status is set to Facebook, the color is white text on a light grey background. This is seen on the contact details screen and the contact edit details screen.

![Screenshot_20200427-102956](https://user-images.githubusercontent.com/43966676/80393527-39797100-8876-11ea-99b3-7d7371628afc.png)

[2020-04-27 16:05] mikeallbutt commented on #300
I suggest the background color is set to be the same blue that Facebook uses in its icon.

[2020-04-28 02:34] zdmc23 commented on #253
Resolved by https://github.com/DiscipleTools/disciple-tools-mobile-app/commit/c0b19d50efd6a94571e4c7706616f28358c8e378

[2020-04-28 02:34] #253 closed

[2020-04-28 02:36] zdmc23 commented on #251
Superseded by #292

[2020-04-28 02:36] #251 closed

[2020-04-28 02:39] zdmc23 commented on #5
Relates to #75

[2020-04-28 02:40] zdmc23 commented on #5
Superseded by #75

[2020-04-28 02:40] #5 closed

[2020-04-28 02:43] zdmc23 commented on #156
Resolved by https://github.com/DiscipleTools/disciple-tools-mobile-app/commit/9314857870693b35407bbcaed648012366c0e5a3

[2020-04-28 02:43] #156 closed

[2020-04-28 02:58] zdmc23 commented on #258
Resolved by https://github.com/DiscipleTools/disciple-tools-mobile-app/commit/c0b19d50efd6a94571e4c7706616f28358c8e378

[2020-04-28 02:58] #258 closed

[2020-04-28 03:10] zdmc23 opened #301 "App Signing key for AAB in Play Store"
Google Play Store requires an App Signing key in order to sign Android App Bundles (AAB) binaries (which are designed to offer significant reduction in size over traditional APK), and we want to determine whether we can reuse key that Expo already uses for builds, etc...

[2020-04-28 03:13] zdmc23 opened #302 "Force clear on-device AsyncStorage when necessary"
v1.2.0 was such a significant change to previously persisted on-device storage that it required an App Data clear on Android and a uninstall on iOS.  If this should be required for a future build, then we should force clear the on-device storage so that the user can auto-update their app from the Play/App Store without having it crash, and need to clear data/uninstall.

[2020-04-28 03:20] zdmc23 opened #303 "Resolve GitHub Action issues"
As of this weekend, we started to see 2 issues with our CI/CD GitHub Action (even though no recent changes were made prior):
1. Intermittent failures with Expo publish
1. Package installation issue(s) after Expo/package upgrades

[2020-04-28 21:50] mikeallbutt opened #304 "Ability to edit and delete a comment"
When a comment for a contact or group is added, there is no way to adjust it.

- [ ] edit a contact comment
- [ ] edit a group comment
- [ ] delete a contact comment
- [ ] delete a group comment

[2020-04-28 22:02] mikeallbutt opened #305 "App crashes in when view some groups"
When viewing some groups, the app will stop and leave the app user with a blank white screen. This happens when a the group details tab loads for a group. You see much of the details but then just before the underline of the first tab is assigned, the app screen goes complete white.

[2020-04-29 02:25] zdmc23 opened #306 "Open to appropriate App Screen upon clicking a Push Notification"
Currently, when you receive any type of Push Notification and click on the iOS/Android Notification, then the D.T app will launch, but it launches to the default screen.  Instead, we should determine what type of a Notification has occurred and open to the appropriate screen.  i.e., If someone has added a Comment/Activity to your Contact, then the app launches, loads the appropriate Contact, and a

[2020-04-29 02:34] zdmc23 opened #307 "Configurable user style settings"
Feature to provide configurable user style settings - ex., Font size, Dark vs. Light mode, etc...

Many consumers have a strong preference for light mode vs. dark mode, and many popular apps offer the option to toggle between the two - creating a user expectation.  (Supposedly) Expo makes it somewhat simple to enable this: https://docs.expo.io/versions/latest/sdk/appearance/

[2020-04-29 11:58] mikeallbutt opened #308 "Link all references to Contacts/Groups"
On the connections screen, all the connections listed in the various fields will link to the contacts and groups that are listed, so that the user can easily view that information about the contact or group.

[2020-04-29 14:15] zdmc23 commented on #305
Mike to provide more details

[2020-04-29 22:32] raschdiaz opened #309 "Connections Added in OFFLINE mode does not appear when enter to ONLINE mode"
When a contact or groups is created in OFFLINE mode, then added this contact/group to another contact/group connection and enter to ONLINE mode, the contact/group its created but their relation/s not appear.

[2020-04-29 23:22] zdmc23 opened #310 "NPM build issue w/ @expo/vector-icons in CI/CD pipeline"
![Screenshot from 2020-04-29 19-21-18](https://user-images.githubusercontent.com/191707/80656254-b8290680-8a4e-11ea-99a2-a974c8149569.png)

[2020-04-29 23:23] #310 closed

[2020-04-29 23:23] zdmc23 commented on #310
https://github.com/expo/vector-icons/pull/126

[2020-04-30 01:35] zdmc23 commented on #303
Publishing issues are no longer recurring, and Expo package issues resolved in #310

[2020-04-30 01:35] #303 closed

[2020-04-30 02:53] mikeallbutt commented on #283
This issue seems to be resolved.

[2020-05-03 12:03] mikeallbutt opened #313 "Locations list missing locations"
In my installation there is a complete list of locations /wp-admin/admin.php?page=dt_mapping_module&tab=names but not all of them are suggested/showing when I try to assign them.

In this example, Mexico is missing (but it and all the states of Mexico are definitely in the mapping data.)

![Screenshot_20200503-065335](https://user-images.githubusercontent.com/43966676/80913693-28b07b80-8d0c-11ea-9

[2020-05-03 12:18] mikeallbutt commented on #283
I have found this is still happening at times (but not always) on different instances.

[2020-05-03 12:27] mikeallbutt opened #314 "Requires update (contact and group)"
Have the ability to see which contact and group needs an update.

[2020-05-03 12:32] mikeallbutt opened #315 "Share the app"
As an app user, there are times when I need to inform another user that the app exists and so they can go and download it from an app store.
Possibly having a "Share app" link on the settings page that goes either iOS or the Play store might work well. Or it might take them to the disciple.tools/app page that offers more info.

[2020-05-03 12:37] mikeallbutt commented on #91
One place that really needs explanation is on the login screen. I get asked what to put into the URL field. Maybe having a (?) icon on the right wide of the URL field that when clicked pops up a message saying what to put here i.e the url of your DT instance.
I know that this info for a URL field might be obvious for some - but now all find it as obvious and need more guidance.

[2020-05-04 13:41] raschdiaz commented on #305
Hi @mikeallbutt , can you provide us an example?.

[2020-05-05 14:21] raschdiaz commented on #305
Hi @mikeallbutt this error its caused in the method "formatTimestampToDate()" on the GroupDetailView (https://github.com/DiscipleTools/disciple-tools-mobile-app/commit/70a802716cc217d79b88096b8be4f76bd56b6bfc) specifically in this line: `let formattedDate = new Intl.DateTimeFormat(langcode, options).format(timestamp * 1000);`. That seems the class "Intl" does not exist in Android but iOS does. I w

[2020-05-05 15:23] raschdiaz commented on #305
Hi @mikeallbutt this error its caused in the method "formatTimestampToDate()" on the GroupDetailView (https://github.com/DiscipleTools/disciple-tools-mobile-app/commit/70a802716cc217d79b88096b8be4f76bd56b6bfc) specifically in this line: `let formattedDate = new Intl.DateTimeFormat(langcode, options).format(timestamp * 1000);`. The "Intl" class is undefined in Android. I will investigate to solve t

[2020-05-06 21:52] raschdiaz commented on #274
Hi @corsacca, which property in the response of the '/wp-json/dt-posts/v2/groups/{id}' end-point We can use to know this? (props parent_groups, peer_groups . etc).

[2020-05-08 14:36] corsacca commented on #274
@raschdiaz if possible here is what i suggest.
The circle should be solid one of these 2 is true:
- the `group_type` is `church`
- or if the `health_metrics` has `church_commitment` as one of the options.

other wise the circle can be a dotted line

[2020-05-08 20:43] raschdiaz commented on #274
Hi @corsacca, when the mobile get the response of the '/wp-json/dt-posts/v2/groups/{id}' end-point, we get the groups data like this:

![Captura3](https://user-images.githubusercontent.com/16809967/81447486-52b9d180-9142-11ea-8fd8-790fd0fdfbfb.PNG)

This data its used to show the Group Tree, which property of this object the mobile has to use to show the plain/dotted circles?

[2020-05-09 00:13] #309 closed

[2020-05-09 00:13] #277 closed

[2020-05-09 00:13] #300 closed

[2020-05-09 00:13] #305 closed

[2020-05-09 00:13] #75 closed

[2020-05-09 00:13] #252 closed

[2020-05-10 02:14] mikeallbutt commented on #283
Yes in version 1.3.0 this still happens. Login to the dtdemo.disciple.tools and view Anna Torres and Brian White.

[2020-05-11 13:16] corsacca commented on #274
![image](https://user-images.githubusercontent.com/24901539/81565702-b423af80-9391-11ea-9ce4-f99bd71e608f.png)
@raschdiaz thanks for clarifying. I've added a "is_church" field to each connected group.
If the field is `true` then display the solid circle.
If `false` or if the "is_church" field isn't present then display the doted line.

[2020-05-12 01:14] mikeallbutt opened #318 "Add a group from the groups edit screen"
I want to add a group from the groups edit screen because the group I wanted is not listed. I want to assign it as a parent, peer or child.

[2020-05-12 01:27] mikeallbutt opened #319 "Group groups screen explanation of the icons and numbers"
What do the icons and the numbers mean in the circles on the? Why are some circles solid while others use a dotted/dashed line?

We need a way to tell or remind the app uses what these mean.

[2020-05-12 01:32] mikeallbutt opened #320 "Social media links should open the associated app or website"
Some contacts will have information about who they are on the various social media platforms. If they have recorded on their details screen their Facebook URL, then clicking on that should take the DT app user to the contacts Facebook account/profile page. This should also happen fo the other social media profiles (twitter, instagram, skype).

[2020-05-12 02:07] zdmc23 commented on #320
We may want to collect a list of social media apps that we want to support.  WhatsApp, Telegram, Signal, Discord, Slack?, Zoom, etc... each will have a unique DeepLink protocol that we will need to map to

[2020-05-12 02:10] zdmc23 opened #321 ""Set PIN code" is not being translated"
On the `Settings` Tab, the "Set PIN code" label is not being translated (it remains in English)

[2020-05-12 02:29] mikeallbutt commented on #274
When using the https://dtdemo.disciple.tools/groups/ data, it is possible to see that somethings still arent correct.

[2020-05-12 02:29] zdmc23 commented on #274
Per @mikeallbutt

[2020-05-12 02:38] zdmc23 opened #322 "App crashes when attempting to remove a phone number"
Observed on both iOS and Android

Steps to reproduce:
1. Login to `dtdemo.disciple.tools`
2. View contact: `S. Complete &amp; Friend`
3. Click `Edit` and remove one of the 3 phone numbers
4. Click `Save` (the App will crash and reboot)

Please see video:
https://youtu.be/1mTUakrvML4

[2020-05-12 07:51] corsacca commented on #274
https://dtdemo.disciple.tools/groups/ does not have the latest version of the plugin. So the is_church data will not be there yet.

[2020-05-12 11:34] #274 closed

[2020-05-12 22:46] #322 closed

[2020-05-13 14:12] mikeallbutt commented on #321
Also, when the PIN code is set, the confirmation message of "The pin code saved successfully! " is in English too, and needs to be fixed.

[2020-05-13 14:36] corsacca opened #325 "Fields hidden on login screen"
App Version: 1.3

With the keyboard open the fields are hidden by a grey space:
![signal-attachment-2020-05-13-152618](https://user-images.githubusercontent.com/24901539/81826182-69d83500-952f-11ea-8b22-d3073f717644.jpeg)

[2020-05-13 14:54] corsacca commented on #30
@zdmc23 i vote we reopen this issue. At least for discussion.

[2020-05-13 15:01] corsacca commented on #325
@zdmc23 this ones gets in the way, but there might be too much in this sprint.

[2020-05-13 15:07] zdmc23 commented on #325
I think that this is worth fixing since it would possibly confuse and prevent folks from attempting to login. I'll add it. Thx!

[2020-05-13 16:36] zdmc23 opened #326 "Link Language Setting to D.T Instance"
We want to enable the user to set the language via the App or the Website.

Behavior in Settings Screen is simple: if user changes from existing language to new language, then update the Website value.

For the Login, we will need to capture the change and then check the existing Website value (after successful login).  If the values differ, then update the Website (if different), otherwise do not

[2020-05-13 16:37] zdmc23 opened #327 "Re-enable Language to be set from Settings Screen"
We previously allowed the Language to be set via the Settings Screen, but then removed it because at that time we were not keeping in-sync with the Website.  Now that we're implementing #326 we can re-enable this.

![language-settings](https://user-images.githubusercontent.com/191707/81840140-8ddb4c80-9516-11ea-8aa5-cec2ab440426.png)

[2020-05-13 16:38] zdmc23 commented on #326
Relates to #327

[2020-05-13 16:41] zdmc23 opened #328 "Warn user about App reboot when switching between LTR/RTL languages"
Currently, the App reboots when toggling between LTR/RTL (and vice versa) languages.  Rather than simply reload the App (seems kind of like a crash), we want to have an "OK" dialog box to warn the user that the reload is about to occur and "why" (because we're switching from LTR->RTL or RTL->LTR and we need to reload the components)

[2020-05-13 16:46] zdmc23 commented on #320
I received a request for "IMO" (https://www.imo.im/) and "KaoKaoTalk" (https://www.kakaocorp.com/service/KakaoTalk?lang=en)

[2020-05-14 02:28] zdmc23 opened #329 "Comments and Activities not being displayed in forced offline mode"
Observed on Android and iOS

Steps to reproduce:
1. Select a Contact
1. Tab to `Comments and Activities`
1. Observe available data
1. Go OFFLINE (either via Airplane Mode without WiFi or via `Settings` Tab)
1. Refresh the `Comments and Activities`
1. Observe Placeholder about being offline

We should display the Comments and Activities data if we have it cached locally

![9870B843-FAA5-4EB7-958A-2

[2020-05-14 02:30] zdmc23 commented on #308
We want to link ANY reference to a Contact/Group

[2020-05-14 02:40] zdmc23 opened #330 "Resolve outstanding untranslated fields/values"
Some fields/values remain untranslated (e.g., "Set PIN cdoe", "Church health and group type", etc...). These need to be fixed and included in POEditor if they are not already present

[2020-05-14 02:52] zdmc23 commented on #321
Now a duplicate of #330

[2020-05-14 02:52] #321 closed

[2020-05-14 02:55] zdmc23 commented on #304
The Website does not permit me to do this, so we may need to discuss this further with D.T Team

[2020-05-14 03:10] zdmc23 commented on #330
See also #321

[2020-05-14 16:03] raschdiaz commented on #287
Hi @zdmc23 , currently the group its saved automatically when the user selects or remove a member (mentioned in the requirements: https://github.com/DiscipleTools/disciple-tools-mobile-app/issues/57#issuecomment-545963400). We suggest to remove this auto save and only save the data when the user tap the 'Save' button.

[2020-05-14 16:21] raschdiaz commented on #283
Hi @mikeallbutt @zdmc23 We are trying to replicate the error without success. We have tried the examples you provided. We believe that removing an initial variable declaration can solve the problem. But with the devices we have we don't see the change (maybe because the rendering is fast). We are going to make this change, and make a new P.R. for you to test on your device to see if this fixes the

[2020-05-15 16:38] raschdiaz commented on #308
We gonna add this links in the 'Detail' views in 'Only View' mode.

[2020-05-16 01:00] zdmc23 commented on #308
Hi @raschdiaz , it should be every Screen (except Lists, and of course not Login or Settings), but Yes, only in "View" mode

[2020-05-19 20:20] raschdiaz commented on #308
Hi @zdmc23 , We have implemented the behavior, We have to add more spaces between Contacts/Groups so the user can tap to redirect him to the corresponding details views. What do you think about this?

[https://drive.google.com/file/d/1FuCWI7ntdigt0cdhB12vfvW7NqQkl4yC/view?usp=sharing](https://drive.google.com/file/d/1FuCWI7ntdigt0cdhB12vfvW7NqQkl4yC/view?usp=sharing)

This is example, We view the

[2020-05-20 04:10] zdmc23 commented on #308
Hi @raschdiaz , this looks good!  I assume that you can click link after link and continue navigating between Contacts with no issue, correct? There isn’t some # of clicks where memory or stack builds up and then crashes, I hope.

Please implement the same for Groups.  And also please underline any clickable links, so that the user may distinguish between values that are clickable links vs plain t

[2020-05-20 15:39] raschdiaz commented on #308
Yes @zdmc23, you can navigate between Contacts/Groups with no problem. In my tests I click max 3 times and return. This works as expected. I will add the underline style.

[2020-05-20 15:46] raschdiaz commented on #313
Hi @mikeallbutt , that seems its a problem with the mobile when it gets the locations list. After add a fix, this is how the flow works:

https://drive.google.com/file/d/1GOI36oX1MduC0zTfs1BuVv7iSESBHzbO/view?usp=sharing

[2020-05-20 21:35] raschdiaz commented on #325
Hi @zdmc23 the fix was implemented, see this flow example:

https://drive.google.com/file/d/1GQvPNDHYhgnygbxIToLA_GrIXZ_x7rSC/view?usp=sharing

https://drive.google.com/file/d/1GQDy633fuemIisQTX5yfElmjofPmfawn/view?usp=sharing

[2020-05-21 12:48] raschdiaz commented on #327
Hi @corsacca , which end-point have to use the mobile to update this profile data?.

[2020-05-21 13:04] corsacca commented on #327
@raschdiaz i'll get you an endpoint as soon as i can

[2020-05-21 15:36] corsacca commented on #327
POST `https://${domain}/wp-json/dt/v1/user/update`
[code]
@raschdiaz here you go

[2020-05-21 22:43] raschdiaz commented on #328
Hi @zdmc23 , We implemented this feature, see the test flow in the following video:

https://drive.google.com/file/d/1Gzw5dvEAfaWxCP0pIvswRx2F_H-Dc4aA/view?usp=sharing

Additionally translations were added.

[2020-05-22 04:02] zdmc23 commented on #325
Thx @raschdiaz !

[2020-05-22 04:04] zdmc23 commented on #313
Hi @raschdiaz , is this reading from local state (after the initial Locations list API call), or is it searching with API endpoint prefix param?  Is it requiring 3 characters before auto-complete?

[2020-05-22 04:07] zdmc23 commented on #328
Hi @raschdiaz , please darken the text color and rename button to be "ok" (in English).  Otherwise, it looks good!  Thx

[2020-05-22 04:08] zdmc23 commented on #308
Thx @raschdiaz !

[2020-05-22 04:09] zdmc23 commented on #287
Hi @raschdiaz , Yes, I agree with you.  It's better to have consistency

[2020-05-26 14:00] raschdiaz commented on #313
Hi @zdmc23 , when mobile its in ONLINE mode, the mobile search in API to get locations, according to the text entered by the user (At least 1 character). After get this data, the mobile save only non persisted locations, and show results to the user.

[2020-05-26 20:41] raschdiaz commented on #328
Hi @zdmc23 , We added the change:

https://drive.google.com/file/d/1I9nOyoforEh6C9gFrYg11zUNY3TEslKk/view?usp=sharing

[2020-05-27 00:27] #287 closed

[2020-05-27 00:27] #288 closed

[2020-05-27 00:27] #271 closed

[2020-05-27 00:27] #313 closed

[2020-05-27 00:27] #308 closed

[2020-05-27 00:27] #325 closed

[2020-05-27 00:27] #328 closed

[2020-05-27 14:07] zdmc23 commented on #272
Duplicate of #283

[2020-05-27 14:07] #272 closed

[2020-05-27 14:27] ahillbilly opened #332 "Add @mention functionality for collaboration"
Mimic web app functionality of @mentioning within comments to trigger notification to other users.

[2020-05-27 14:56] ahillbilly commented on #332
MVP of this feature could be simpler than full implementation with a button to pick from a list and attach afterward.
![atmention](https://user-images.githubusercontent.com/25323324/83036506-96fa0c80-a032-11ea-9194-3ad15f5f176a.jpg)

[2020-05-27 15:11] zdmc23 opened #333 "Switching between instances causes data problems"
Per @mikeallbutt

[2020-05-28 05:17] zdmc23 commented on #283
@mikeallbutt Would you please provide the details that you described about the contact status switching from new to something else and back again.  Also if you have steps and contacts to reproduce with. Thx!

[2020-05-28 05:20] zdmc23 opened #334 "App crashes when marking meeting attendance using FAB"
Observed on Android

Steps to reproduce per @mikeallbutt

1. View Contact "Karla Cruz"
1. Click FAB button and mark meeting attendance

[2020-05-28 21:07] zdmc23 opened #335 "Enable automated debriefing workflows"
Per a Field Worker request, it would be helpful after meeting with a Contact to have a set up pop-up questions (defined in standard workflows - e.g., DMM) to be answered by the First Responder.  This would make future follow-up more fruitful for FR and others, and also aid in transparency and data analysis.

The challenge here would be the interface for building new workflows, but we could just st

[2020-06-01 04:48] zdmc23 commented on #330
Church Health and Group Type (Groups -> Progress Screen) are provided by the D.T API, so I have opened an issue there: https://github.com/DiscipleTools/disciple-tools-theme/issues/991

![Screenshot from 2020-05-31 23-08-11](https://user-images.githubusercontent.com/191707/83376639-f04e9c80-a3a0-11ea-815e-a09ebd0b7a5c.png)

[2020-06-01 04:49] #330 closed

[2020-06-01 13:17] zdmc23 commented on #330
Per `Group Type` and `Church Health` via https://github.com/DiscipleTools/disciple-tools-theme/issues/991:

[2020-06-01 13:20] zdmc23 commented on #330
See: https://github.com/DiscipleTools/disciple-tools-theme/pull/950

[2020-06-01 15:03] zdmc23 commented on #330
See also: https://github.com/DiscipleTools/disciple-tools-theme/commit/8a99fb92c4ff9c032e016ab8e78a156deffa872b

[2020-06-01 21:09] raschdiaz commented on #327
Hi @zdmc23 we already apply this modification (see the following example video what show this example flow: Change to Spanish language and after change to Arabic).

[https://drive.google.com/file/d/1IYM0PAHqzh0aBeTH0u49_gDpkDCjZrpL/view?usp=sharing](https://drive.google.com/file/d/1IYM0PAHqzh0aBeTH0u49_gDpkDCjZrpL/view?usp=sharing)

This change involved some changes in the way the language set cur

[2020-06-03 23:43] raschdiaz commented on #333
Hi @zdmc23 @mikeallbutt I have added the following modification to resolve this:

- When the user logout, the app will delete all instance related data (like contacts, groups .etc).

See the following video: [https://drive.google.com/file/d/1Ig6f3iR8ez3KpR_OR_CEGfkkKsAILOOy/view?usp=sharing](https://drive.google.com/file/d/1Ig6f3iR8ez3KpR_OR_CEGfkkKsAILOOy/view?usp=sharing)

[2020-06-04 21:13] raschdiaz commented on #334
Hi @mikeallbutt , which Android version you see this crash?. I have tested this in Android 8.1 and 9 and works fine. Can you provide us some test video flow?.

[2020-06-04 21:49] raschdiaz commented on #283
Hi @mikeallbutt like @zdmc23 said, can you provide us some example flow?

[2020-06-04 23:46] mikeallbutt commented on #283
Something has changed becuse this seems to be fixed in version 1.5.0

[2020-06-04 23:48] mikeallbutt commented on #334
Yes it didn't crash now. So not sure what has changed, but happy that this bug is not showing for now.

[2020-06-05 02:14] zdmc23 opened #337 "Provide a reason for Contact "pause" in App"
Per Field Partner:

[2020-06-05 02:21] zdmc23 opened #338 "User not showing in Sub-Assign List"
Per Field Partner:

[2020-06-05 14:04] ahillbilly commented on #337
Clarification - on the web, you can technically cancel the modal that asks for a "reason" paused or closed and it will list the reason as (undefined).

However, it is true that the pop-up request for reason feature is not implemented on mobile.

[2020-06-08 13:01] mikeallbutt opened #339 "Crash with demo contact 155"
I get crashes for https://dtdemo.disciple.tools/contacts/155/ which is Rashid Contact449 when I try to see the contact details screen.

[2020-06-08 13:41] ahillbilly commented on #339
I get this as well on the same contact, but opened other contacts without issue.  The screen just goes white and hangs with no ability to close out the app or go back.

[2020-06-08 21:40] raschdiaz commented on #245
Hi @zdmc23 , we add a fix to this 'visual lag':

[https://drive.google.com/file/d/1J1oTsVWKhu3HV6gJtPkts5vejUuxjbWW/view?usp=sharing](https://drive.google.com/file/d/1J1oTsVWKhu3HV6gJtPkts5vejUuxjbWW/view?usp=sharing)

[2020-06-09 13:26] #327 closed

[2020-06-09 13:26] #245 closed

[2020-06-09 13:26] #333 closed

[2020-06-10 12:52] corsacca opened #342 "Missing translation should default to English"
![translation](https://user-images.githubusercontent.com/24901539/84269783-9b89ef00-ab21-11ea-97db-75545c8861c6.jpeg)

[2020-06-10 13:06] corsacca opened #343 "Pin workflow. Ability to log in with password and reset pin"
I set a pin and chose the remember my password setting. I closed the app.
I then promptly forgot my pin.
When i open the app i am asked for the pin. I can't close the dialog box to enter my password instead.

---
Let the user close the "Enter PIN" dialog box so then can log in with a password.
![reset_pin](https://user-images.githubusercontent.com/24901539/84271076-87df8800-ab23-11ea-94cb-551d82af

[2020-06-11 20:12] raschdiaz commented on #342
Hi @corsacca , now, the app will set English as default language:

[https://drive.google.com/file/d/1Jp6QisVbKna6Lg7xkONQYPZcx6-8T2NL/view?usp=sharing](https://drive.google.com/file/d/1Jp6QisVbKna6Lg7xkONQYPZcx6-8T2NL/view?usp=sharing)

In the video, the mobile Language is set to Deutch, after open app. The app set English language as default.

[2020-06-11 20:15] raschdiaz commented on #343
Hi @corsacca , We add a fix when the user close the PIN dialog and log in the app 'manually':

[https://drive.google.com/file/d/1K0Ds2Gn5B_PBJlajWY9F8bTCIyV6P4wR/view?usp=sharing](https://drive.google.com/file/d/1K0Ds2Gn5B_PBJlajWY9F8bTCIyV6P4wR/view?usp=sharing)

[2020-06-11 22:28] #342 closed

[2020-06-11 22:28] #343 closed

[2020-06-12 01:48] zdmc23 commented on #326
Verified

https://github.com/DiscipleTools/disciple-tools-mobile-app/pull/340

[2020-06-12 01:48] #326 closed

[2020-06-12 01:50] zdmc23 commented on #283
Unable to reproduce in v1.5

[2020-06-12 01:58] zdmc23 commented on #329
This continues to be an issue. Same steps to reproduce as above

![D164ECB0-F924-4636-967B-14008B22B9BE](https://user-images.githubusercontent.com/191707/84456689-99618680-ac2e-11ea-98c3-ee1a2b9416b0.png)

[2020-06-12 01:59] zdmc23 commented on #334
Unable to reproduce

[2020-06-12 01:59] #334 closed

[2020-06-12 02:04] zdmc23 commented on #343
Confirmed

https://github.com/DiscipleTools/disciple-tools-mobile-app/pull/344/commits/b6726d3624f327f87bf7be7d2b027853ddae5581

[2020-06-12 02:20] zdmc23 opened #345 "HTML character encoding"
HTML encoded characters should be detected and decoded properly (eg., &amp; -> &)

PS. We do a nice job of supporting UTF-8 (as evidenced by same screenshot).

![6469EFDA-E59A-4006-B734-4CF05CA5C87C](https://user-images.githubusercontent.com/191707/84457879-c3687800-ac31-11ea-83d6-67a4d8d55a33.png)

[2020-06-12 02:30] zdmc23 commented on #345
See also: https://github.com/DiscipleTools/disciple-tools-theme/issues/994

[2020-06-12 02:52] zdmc23 opened #346 "Expand keywords in App/Play Stores"
Some folks have been reporting App Discovery issues in the App/Play Stores, so our first attempt will be to expand keywords

[2020-06-12 09:44] corsacca commented on #343
You guys rook! :)

[2020-06-12 15:11] raschdiaz commented on #339
Hi @mikeallbutt @ahillbilly , The 'Rashid Contact449' has asigned a source called 'partner', which does not exist in the 'wp-json/dt-posts/v2/contacts/settings' end-point.

![Captura4](https://user-images.githubusercontent.com/16809967/84517510-0871c600-ac95-11ea-8c49-0616be113e04.PNG)

The current source's values supported are: personal, web, phone, facebook, twitter, linkedin, referral, advertis

[2020-06-12 15:38] raschdiaz commented on #338
Hi @zdmc23 can you give me more info about this flow?

- Which W.P. instance are using? Can you give me credentials?
- This flow was made in ONLINE or OFFLINE mode?

[2020-06-15 11:38] corsacca commented on #339
@raschdiaz if the value is not found for a field then the UI should show the key instead.

[2020-06-19 01:19] mikeallbutt opened #347 "Comment time stamp not using instance timezone"
When the timezone of the DT instance is set to UTC+0 then a new comment for a contact or group are correctly logged at the right time. But if the WP timezone is set to something else other than UTC+0 then they are assigned as being logged at an incorrect time.

[2020-06-19 01:29] mikeallbutt opened #348 "Create contact when in group member edit mode"
When on the members screen of a group, there is now way to add a new member to a group unless the contact is already created. It would be good to have a way to create a new member when in edit mode of the members screen.

[2020-06-19 01:31] mikeallbutt opened #349 "Notifications icon/button with counter"
The main notifications icon at the bottom of should have a counter / alert when there are unread notifications.

[2020-06-19 01:40] mikeallbutt commented on #328
@zdmc23 what happens if someone doesn't want to accept the change. There is no cancel or reject change option. I tied to a few things, but all I could do is accept of force close the app. I think it needs an option to reject and not just accept - or a way that gives the app user a way to decline the change.

[2020-06-19 01:56] mikeallbutt opened #350 "Login button needs pressing twice"
When I go to sign in, I enter the URL in the first field, then move to the username field, enter my username, then move to the password field, enter the password (normally by pasting it after it had been copied to the phones memory from a password program), then press "Log In". The digital keyboard is open so when I press the "Log In" button, it only closes the keyboard, forcing me to press the bu

[2020-06-19 02:04] mikeallbutt commented on #283
@zdmc23 & @raschdiaz  All contacts the are not "New contact" first load saying new contact then switch over to something else like "Active". Why?
The same happens with a group status. An active group will first load as inactive and then just as the details screen finally renders, it corrects the status to be Active.

[2020-06-19 02:11] mikeallbutt opened #351 "Activity information not displaying"
The still loading circle graphic persists and no activity shows - and on some contacts and groups the comments do not load either.

This can be seen with
https://dtdemo.disciple.tools/groups/234/ which is PG Name &amp; in the app

It also happens in all my instances using Android 9

[2020-06-19 02:21] mikeallbutt opened #352 "Progress icons are hard to see/read when not activated."
The text for the icons for the Faith Milestones (of a contact) and the Church Health (of a group) and hard to read when the milestone is not activated.

[2020-06-19 03:20] mikeallbutt opened #353 "Displaying Custom Tiles and that Custom Tile's Fields data"
Our DT instance has some custom fields so we need a way to work with that data.

[2020-06-19 03:21] zdmc23 opened #354 "Display Notification Badge on App"
Display Notification Badge on App. For Android 8+, this will be the dot with push-and-hold view of notifications.  For iOS, this will be a count.

[2020-06-19 03:29] zdmc23 commented on #352
Duplicate of #260

[2020-06-19 03:29] #352 closed

[2020-06-19 03:32] zdmc23 commented on #353
Hi @mikeallbutt , would you please be more specific here, bc we do currently support custom milestones for instance

[2020-06-19 03:34] zdmc23 commented on #283
New Contact is likely the default option and is the initial render, and then the delay on the data update and re-render makes the switch visible to the human eye.  I'll open up a new issue for this.  Thx

[2020-06-19 03:37] zdmc23 commented on #328
@mikeallbutt go ahead an open a new issue to include a `Cancel` button.  I don't think that it's terribly urgent as it doesn't "cost" that much to switch back if a mistake is made, but we can eventually include it

[2020-06-19 03:38] zdmc23 commented on #338
Hi @raschdiaz , I'll try to reproduce it in one of our demo environments.  Unfortunately, I can't share these particular credentials. Thx

[2020-06-21 10:38] mikeallbutt commented on #353
@zdmc23 - I track involvement/interest a contact has. This is a custom field that is displayed in a custom tile.
Another example would be how to work with data gathered related to the 4 fields strategy for groups - which is different to the church metrics data.

[2020-06-21 10:41] mikeallbutt opened #355 "Cancel option before switching language"
@zdmc23 what happens if someone doesn't want to accept the change. There is no cancel or reject change option. I tied to a few things, but all I could do is accept of force close the app. I think it needs an option to reject and not just accept - or a way that gives the app user a way to decline the change.

_Originally posted by @mikeallbutt in https://github.com/DiscipleTools/disciple-tools-mobi

[2020-06-24 01:38] #332 closed

[2020-06-24 04:49] raschdiaz commented on #332
Hi @ahillbilly @zdmc23 , We implement this feature like web behavior, see the following video: [https://drive.google.com/file/d/1LLiJJJVyBFJ_WENSP5u1Cnb6ev_hFVdJ/view?usp=drivesdk](https://drive.google.com/file/d/1LLiJJJVyBFJ_WENSP5u1Cnb6ev_hFVdJ/view?usp=drivesdk)

[2020-06-26 22:07] raschdiaz commented on #339
Hi @mikeallbutt @ahillbilly @corsacca , we implemented a workaround (as suggested by @corsacca ) , adding the non existing source to the option list:

[https://drive.google.com/file/d/1MGBNG8MGwBPnMjRyhub44qfsOtCAL9ut/view?usp=sharing](https://drive.google.com/file/d/1MGBNG8MGwBPnMjRyhub44qfsOtCAL9ut/view?usp=sharing)

[2020-06-29 08:46] corsacca commented on #339
@raschdiaz Undefined fields/options do not need to be selectable. Since it is not a defined option we don't want more contacts getting that option.
The details section should display the key as a fallback if the the option or option label is not defined.

[2020-06-30 12:38] raschdiaz commented on #339
Hi @corsacca , ok. Then, this options only appear in the 'Detail' mode, not 'Edit' mode.

[2020-06-30 12:44] corsacca commented on #339
@raschdiaz It should mimic the website.

[2020-06-30 12:46] corsacca commented on #339
It should show up in Detail mode and in the input box in edit mode, but not in the edit mode dropdown options.

[2020-07-02 22:27] raschdiaz commented on #339
Hi @mikeallbutt @ahillbilly @corsacca We add the indicated changes, see this video: [https://drive.google.com/file/d/1NHt4BuJ1Yekf2FtS0fS490TyJZ1qEZ8r/view?usp=sharing](https://drive.google.com/file/d/1NHt4BuJ1Yekf2FtS0fS490TyJZ1qEZ8r/view?usp=sharing)

[2020-07-03 10:10] corsacca commented on #339
Awesome!

[2020-07-03 15:18] raschdiaz commented on #226
Hi @corsacca this filters are dynamic? There are some end-point to get them?

[2020-07-03 16:10] corsacca commented on #226
`/wp-json/dt/v1/users/get_filters?post_type=contacts&force_refresh=1`
You can see that the theme load the cached version and then replaces it with the new version with the `force_refresh`

[2020-07-08 13:43] corsacca commented on #338
Is this the same on the desktop version?

[2020-07-08 14:48] corsacca commented on #314
I'm assuming this request is for the list view.
Each row should show a symbol to show if the record is "Update Needed"

[2020-07-08 14:55] corsacca commented on #351
@mikeallbutt can you post a screenshot and a contact in dtappdemo that it happens on?

[2020-07-08 16:01] mikeallbutt opened #357 "Set PIN code confirmation"
Require that the app user needs to type in the PIN code twice when setting their pin code, to avoid them accidentally setting something they didn't mean to set.

[2020-07-08 16:15] mikeallbutt commented on #347
To facilitate the testing of this, I have adjusted the WP general timezone for the instance https://dtdemo.disciple.tools/ to be Tokyo time.

[2020-07-08 16:49] mikeallbutt opened #358 "Reason for contact Status change"
The website provides a selected choice for reasons a contacts' status is being changed.

- not ready
- paused
- closed

Having the access to this field would be helpful.

[2020-07-08 17:01] mikeallbutt opened #359 "Missing contacts in list view when using the search field"
After working in the app and making some edits etc, when I return to the contacts list view and use the search box to refine the list again for a new contact, not all the contacts that should be shown are offered in the list.

[2020-07-08 17:32] mikeallbutt opened #360 "View tags and Filter by tags for [contact, group] records"
DT has a tagging feature. A contact can be tagged and those tags used to filter a list. Things that would be good to be able to do are:

- [ ] Create a tag
- [ ]  apply a tag to a contact
- [ ]  remove a tag to a contact
- [ ]  tap on a tag to filter the contact list

[2020-07-08 17:59] mikeallbutt opened #361 "Remove extra spacing in list views"
There is currently lots of extra spacing when in list view for contacts and groups, and that prevents the viewing of more items in the list, and forces the app user to scroll a lot.
On a standard phone, less than 5 items are shown.
The extra white space should be removed to show 10 items.

[2020-07-08 18:13] mikeallbutt commented on #338
I suspect this might be connected to the issue #359

[2020-07-08 18:19] mikeallbutt opened #362 "Show bottom navigation icons in comments and activity screen"
When in viewing mode, display the bottom 4 icons (Contacts, Groups, Notifications, Settings) when in "comments and activity" screen for contacts and groups.

[2020-07-08 18:28] mikeallbutt commented on #254
@zdmc23 I think we should adjust that link to first go to the documentation and then if people still need help or report a bug, then they do that from instructions from the DT documentation website.

[2020-07-08 18:30] mikeallbutt commented on #351
This has been resolved. It seemed to be caused by an issue with Expo.

[2020-07-08 18:30] #351 closed

[2020-07-08 18:35] mikeallbutt opened #363 "Baptized icon to be different from Baptized by icon"
On a contact connections screen the Baptized icon should be different from Baptized by icon.

I suggest the the baptized by stay the same and then have a new baptized icon that uses the same shapes (water droplet) but instead has one at the top and two under (which is reverse of the Baptized by icon).

[2020-07-09 04:00] mikeallbutt commented on #214
@zdmc23 this screen on the website is now significantly different, and in my opinion is now really needed in the app, because it gets used so rarely. And if someone does needs to access it, it can be done in the website anyway.

[2020-07-09 04:12] mikeallbutt opened #364 "Words in header are overlapping in edit mode"
When using the app in Spanish, and in edit mode for a contact and group, the word "Cancelar" and "Guardar" do not have enough padding around them when so are overlapping by the name of the contact or group when their names are long.

This issue might also happen in other languages too.

[2020-07-09 04:33] mikeallbutt opened #365 "Access to locations other than the focused locations"
When a DT instance has a location focus set to something other than world, then it is not possible to assign a location to a contact or group outside the set area of focus. There needs to be a way like the website has that allows the app user to request a location that is not in the set area of focus.

[2020-07-09 04:36] mikeallbutt commented on #129
@zdmc23 should this issue be closed since it won't be fixed?

[2020-07-09 04:52] mikeallbutt commented on #283
@zdmc23  & @raschdiaz I am still getting strange status info in 1.5 using expo with dtdemo and on my other real instance.

Steps to reproduce:
from contact list view, click a contact that is does not have the status set to new contact ie. Hans Test
when the contact loads it will either show the correct status or switch to use "new contact".
click the back arrow to return to the contact list view.

[2020-07-09 05:42] mikeallbutt commented on #364
Alos, there is no good way to see the name of a contact when it is truncated in the header. Maybe clicking on the name in the header opens a modal or toast to show the full name (it could also include the contact/group id number - and have this info be able to be copied and pasted or shared)

[2020-07-09 05:49] mikeallbutt opened #366 "Delete a date"
There are times when a date needs to be deleted.
eg. A group that was inactive but has become active will still have the End Date set.
or a baptism date was accidently set.

[2020-07-09 06:05] mikeallbutt opened #367 "Display record/ID number group in connections field in edit mode"
Group ID number should be shown at the end of the list when searching for a group when in edit mode on a contacts connections field.

[2020-07-09 06:15] mikeallbutt opened #368 "Group: Display record/ID number for fields in edit mode"
Group: Contact ID numbers need to be added to the end of each list item for the fields:

- [ ] assigned,
- [ ] group coach,
- [ ] members: add member,
- [ ] groups: parent,
- [ ] groups: peer,
- [ ] groups: child.

[2020-07-09 06:27] mikeallbutt opened #369 "Group (edit): Locations field: offer location suggestions without typing"
In edit mode for a group, the locations field (on the details screen) should function like the people groups field, that when you first select the field, a dropdown menu opens offering some locations (the most recently used ones) and then as some letters are typed, then the list is refined until the desired location is chosen.

[2020-07-09 07:24] mikeallbutt opened #370 "Item ID # in fields/dropdown lists"
On the website, the item ID number is listed after all list items. This is helpful and should be displayed on all fields/dropdowns in edit mode.
People groups and locations are currently missing this information.

[2020-07-09 08:35] mikeallbutt opened #371 "Create a new contact & group on Connections edit screen"
The connections screen in edit mode has lots of fields that can be used to connect the contact with other contacts and groups, but this can only be done if the contact or group has already been created.

It would be helpful to have a quick way to create a new contact or create a new group and then apply them to the appropriate field without having to go and first create them.

[2020-07-09 08:54] ahillbilly commented on #371
I agree that this is a great feature.  In my mind it is a non-MVP feature with the work around of exiting the existing contact (A), creating the new contact (B) and then connecting A to B within B's connections tab.

[2020-07-09 09:21] mikeallbutt commented on #339
I have confirmed that this issue is fixed.

[2020-07-09 09:21] #339 closed

[2020-07-09 09:24] mikeallbutt commented on #304
@zdmc23 On the website, you can only edit or delete your own comments. If they are yours, you will see and edit or delete link.

[2020-07-11 20:51] mikeallbutt commented on #363
This screenshot shows the 2 identical icons.

![Screenshot_20200711-154641](https://user-images.githubusercontent.com/43966676/87233555-3dedfa00-c38e-11ea-9a85-cf4a0c56152a.png)

[2020-07-11 21:02] #363 closed

[2020-07-11 21:39] zdmc23 commented on #278
Duplicate of #68

[2020-07-11 21:39] #278 closed

[2020-07-11 21:40] #68 closed

[2020-07-11 21:42] #289 closed

[2020-07-11 22:03] mikeallbutt opened #372 "Login screen spacing for small screens"
On Android 9 and a smaller phone, the language selection space at the bottom gets truncated. By adjusting some spacing elsewhere, this area will be full visible.

![Screenshot_20200711-163911](https://user-images.githubusercontent.com/43966676/87234588-19971b00-c398-11ea-9d54-f20ad630967e.png)

[2020-07-11 22:21] zdmc23 commented on #372
I tried modifying `paddingTop` in the header style, but that wasn't enough to enable display on my Moto G4 with Android 7.1.  We'll need something more sophisticated that checks the screen size and scales accordingly

[2020-07-11 22:25] zdmc23 commented on #372
https://medium.com/@shanerudolfworktive/7-tips-to-develop-react-native-uis-for-all-screen-sizes-7ec5271be25c

[2020-07-12 01:44] #301 closed

[2020-07-12 10:19] mikeallbutt opened #375 "Manual edit of member count"
On the members screen of a group the member count is displayed and needs to be manually editable in edit mode.

_Originally posted by @zdmc23 in https://github.com/DiscipleTools/disciple-tools-mobile-app/issues/198#issuecomment-597728658_

[2020-07-12 10:46] mikeallbutt opened #376 "Sources Not being translated"
On a contact screen, the word for the field of Sources is not being translated when the app is in Spanish.

[2020-07-12 12:34] mikeallbutt commented on #376
This issue was due to my instance having a Custom Name assigned for overall_status so by removing the Custom Name data the issue was resolved.

[2020-07-12 12:34] #376 closed

[2020-07-12 13:38] mikeallbutt commented on #345
@zdmc23 When creating a new group and using the "`&`" symbol in the name, it gets stored incorrectly in the database as `&amp;`

[2020-07-12 14:11] mikeallbutt commented on #345
In a comment and activity screen for contacts and groups the `'` symbol doesn't get displayed correctly.

![Screenshot_20200712-090332](https://user-images.githubusercontent.com/43966676/87248569-b5b83500-c41f-11ea-97b3-773e4b924869.png)

[2020-07-12 16:04] zdmc23 opened #377 "Unit Tests for POEditor Language Files"
Implement unit tests for POEditor language files to help ensure that strings translate properly between releases

- [X] JSON Schema Validation
- [X] Coverage positive case(s)
- [X] Coverage negative case(s)
- [X] Code coverage for `languages/index.js` and `languages/moment.js`

[2020-07-12 16:04] #223 closed

[2020-07-12 16:04] #377 closed

[2020-07-13 22:33] raschdiaz commented on #226
Hi @corsacca , We implemented this feature , see the following video:

[https://drive.google.com/file/d/1O9FqxdJ1X2J5WOvFVc-U00HitEe0wt2n/view?usp=sharing](https://drive.google.com/file/d/1O9FqxdJ1X2J5WOvFVc-U00HitEe0wt2n/view?usp=sharing)

Additionally, We found several contacts with incorrect JSON structure like this:

![Captura6](https://user-images.githubusercontent.com/16809967/87360026-c3101

[2020-07-13 22:39] #226 closed

[2020-07-13 23:30] zdmc23 opened #379 "Group List selection causes crash"
Observed on iOS xR

Introduced by https://github.com/DiscipleTools/disciple-tools-mobile-app/commit/364ac223394851c3bfa5b19651b8529a7a473e4a , I can no longer select a Group and view the Group Details.

Steps to reproduce:
1. Select Groups icon on Main Tab Navigator
1. Select a Group

[2020-07-14 02:34] #379 closed

[2020-07-14 02:55] zdmc23 opened #380 "Introduce Error Tracking (e.g., Sentry)"
Introduce Error Tracking during this development and testing phase of the project in order to more rapidly identify and diagnose issues related to crashes.

Per Carlos,

https://sentry.io

[2020-07-14 03:14] zdmc23 commented on #370
I've also recv'd requests for this to distinguish contacts

[2020-07-14 03:16] zdmc23 commented on #369
Related to #370

[2020-07-14 03:17] zdmc23 commented on #368
Relates to #370

[2020-07-14 03:18] zdmc23 commented on #367
Relates to #370

[2020-07-14 14:33] mikeallbutt commented on #226
@zdmc23 and @raschdiaz The filter list for contacts is great. Now we need it for the groups. :)

[2020-07-14 16:17] mikeallbutt commented on #30
After using the app, I now use the bottom nav icons all the time - and need them there on all non-editing screens.

[2020-07-17 15:07] raschdiaz commented on #359
Hi @mikeallbutt , this is happening with the new contact filter implemented? [https://github.com/DiscipleTools/disciple-tools-mobile-app/pull/378](https://github.com/DiscipleTools/disciple-tools-mobile-app/pull/378)

Can you show me what D.T. instance are you using?.

Can you add some screenshots?

[2020-07-17 17:03] mikeallbutt commented on #359
It was happening before and after the new filter was done.

My Oikos and the dtdemo instances.

Yes. The first set shows there should be 3 but only 2 show. The next set for pause shows none when there should be 1.

![Screenshot_20200714-200610](https://user-images.githubusercontent.com/43966676/87812055-3cf11880-c825-11ea-90b3-cfbb03182d8c.png)
![Screenshot_20200714-200646](https://user-images.git

[2020-07-18 22:30] raschdiaz commented on #347
Hi @corsacca, the 'wp-json/dt-posts/v2/**{contacts/groups}**/**{id}**/comments' and 'wp-json/dt-posts/v2/**{contacts/groups}**/**{id}**/activity' end-points return dates accordly D.T. instance timezone?

To OFFLINE MODE we need to know the instance timezone to show the dates accordly. Can you add this in the 'wp-json/jwt-auth/v1/token' end-point?

[2020-07-19 11:35] zdmc23 commented on #361
Taking this up per @mikeallbutt ‘s request

[2020-07-19 19:56] #361 closed

[2020-07-19 21:16] mikeallbutt opened #381 "Place the field labels nearer to the field icon"
On each record itself, move the field labels to be nearer to the icons on the left side to improve/create more space on the right side and it keep the labeling closer to the icon. This is what already happens on a group Groups screen with the parent, peer and child fields.

This could be done by having the icon and the label on the same line, then the info starting under on the next line.

- Conta

[2020-07-20 09:42] corsacca commented on #347
@raschdiaz
The activity `hist_time` and the comment `comment_date_gmt` are both always gmt(+0)

[2020-07-21 21:58] raschdiaz commented on #257
Hi @mikeallbutt see this example flow: [https://drive.google.com/file/d/1PM15FOI8r8rhLUMe8A-hmbT2nc5FqUbQ/view?usp=sharing](https://drive.google.com/file/d/1PM15FOI8r8rhLUMe8A-hmbT2nc5FqUbQ/view?usp=sharing)

As you can see, This change affects the "default filters" component. So we had to stylize it.

[2020-07-21 22:37] #257 closed

[2020-07-22 03:48] zdmc23 commented on #257
Hi @raschdiaz , why was the extra space (based on Window Height) required? I made a commit to remove that (https://github.com/DiscipleTools/disciple-tools-mobile-app/commit/e4fc5cd737dac4d9a7c72131b2195edb5bafbaad) and it seems to be working fine. Thx!

![D8CBAB39-0561-4346-A373-60B7CCEF175E](https://user-images.githubusercontent.com/191707/88132125-b5046900-cbac-11ea-9804-058b1c042366.png)

[2020-07-22 03:57] raschdiaz commented on #257
Hi @zdmc23 , I set a height based on phone window because when the filter section its open, the user can't scroll down to see the rows.

[2020-07-22 04:22] zdmc23 commented on #257
Hi @raschdiaz , I think that it's fine to force the user to make a selection one they toggle the filter menu.  If we want to enable an alternative to exit the menu, then perhaps when they click the Contacts Tab, that should close the menu.  Then the user has 3 options to exit the menu:
1. Make a Selection
1. Click the Filter Menu icon
1. Click Contacts Tab icon

[2020-07-22 04:27] zdmc23 commented on #257
Actually, they would have 4 options to exit: the 4th being to collapse the Accordion component (click `-` sign).  I understand what you were doing, and I appreciate the thought to implement that, but the screen "real estate" is too valuable to leave the blank space.  We still give the user 3 options to exit, and could offer a 4th if we close the Filter Menu when Contacts Tab icon (on Main Tab Bar)

[2020-07-22 04:30] raschdiaz commented on #257
Ok @zdmc23 , thanks for the feedback!

[2020-07-22 19:32] raschdiaz commented on #365
Hi @mikeallbutt , We add a new P.R. [https://github.com/DiscipleTools/disciple-tools-mobile-app/pull/383](https://github.com/DiscipleTools/disciple-tools-mobile-app/pull/383) with a end-point URI modfication, to get all locations when the user type in the 'Locations' field. Can you confirm this solves the problem?.

[2020-07-22 20:32] zdmc23 commented on #365
Hi @raschdiaz , before I merge this PR, I'd like get input from @corsacca and @ahillbilly .  "Focus" Locations may not be enough for some users like @mikeallbutt , but I am not sure that returning all is necessarily the answer either.  Focus exists for a reason, and may be useful to other users.

I wonder whether a possible workflow would be:
1. Get "Focus" Locations
1. Include a link at the botto

[2020-07-22 20:41] raschdiaz commented on #370
Hi @mikeallbutt @zdmc23 see the following video with the changes: [https://drive.google.com/file/d/1Q26KgfJ8kMkkHU7VtBSS5exLYu18C15o/view?usp=sharing](https://drive.google.com/file/d/1Q26KgfJ8kMkkHU7VtBSS5exLYu18C15o/view?usp=sharing)

[2020-07-22 20:52] zdmc23 commented on #370
Hi @raschdiaz , I think that this looks great for the Contacts and the Groups, but some of the fields are redundant and probably unnecessary (i.e., Status, Source, Age, etc...)

@mikeallbutt what are the minimum number of fields that require this ID, I thought that it was only Contacts and Groups, but it seems like you want more.  Thx!

[2020-07-24 03:57] mikeallbutt commented on #257
On the Groups list screen, the search field should be "stuck" to the top.

[2020-07-24 04:43] zdmc23 commented on #257
Hi @mikeallbutt , let’s add a separate issue for reimplementing this for Groups. We want to get everyone on board with look and feel for how it works with Contacts first, and then we’ll reuse code for Groups (rather than implementing both places and then making changes in 2 places)

[2020-07-24 13:59] raschdiaz commented on #380
Hi @zdmc23 We implemented Sentry in the mobile app, to detect possible errors in the HTTP requests. also detect possible error in the render of the Detail views (Contact/Group):

![Captura7](https://user-images.githubusercontent.com/16809967/88399017-d96a6c00-cd8b-11ea-98b5-18ab8bd2ea74.PNG)

[2020-07-24 16:10] raschdiaz commented on #359
Hi @corsacca , I have a doubt about how filters work in the web app. When I do the following filter in the dtappdemo.wpengine.com instance, look like this:

![image](https://user-images.githubusercontent.com/16809967/88411018-d9269c80-cd9c-11ea-8447-31b4ee4701b0.png)

But in the mobile app looks like this:

![Screenshot_2020-07-24-11-01-04-358_host exp exponent](https://user-images.githubuserconte

[2020-07-24 20:26] zdmc23 commented on #365
Per @ahillbilly the proper solution is to expand the Locations in your area of Focus

CC @mikeallbutt

[2020-07-24 20:26] #365 closed

[2020-07-24 20:44] raschdiaz commented on #338
Hi @zdmc23 @mikeallbutt , the Sub-assign field use the list retrieved for this end-point 'wp-json/dt-posts/v2/contacts?offset=${offset}&limit=${limit}&sort=${sort}' (list used for the contactsView).

We tried to replicate the problem again without success.

It seems weird this happen, because the mobile app get all the contacts of the D.T instance.

Its possible that the user record the screen of

[2020-07-24 20:47] zdmc23 commented on #338
@mikeallbutt have you been able to retrieve the expected Contacts via the Website?  Per @corsacca 's comment above, I suspect that it may be a situation where some of the Contacts may not be visible to your User?

cc: @raschdiaz

[2020-07-24 20:51] zdmc23 commented on #359
Thank you for this thorough investigation @raschdiaz !  It would seem that #338 may be experiencing a similar issue

[2020-07-24 21:37] raschdiaz commented on #283
Hi @mikeallbutt can you give me some info to replicate the error and the device where this happens?

- D.T. instance, username, password

- Phone brand, model, android version.

[2020-07-24 22:09] #367 closed

[2020-07-24 22:09] #368 closed

[2020-07-24 22:13] zdmc23 commented on #370
Update from Slack channel discussion:

Let’s show IDs only for Contacts & Groups, wherever they are found (ie, Lists, Connections, Assigned, etc...)

[2020-07-24 22:16] zdmc23 opened #384 "Apply same Filter and Search Bar changes to Groups"
With #226 and #257 , we introduced changes to Filter Contacts and keep the Search Bar in a fixed location during scroll.  We want to implement the same functionality for `Groups`

**_This implementation should not be a duplication of code in Groups list screen, but rather a shared component leveraged by both Contacts List and Groups List_**

Depends on #385

[2020-07-24 22:24] zdmc23 opened #385 "Visual indicator of Filter selection"
When the user filters their contacts, they select an option (e.g., `Waiting to be accepted`) and the Accordion component closes, and the `Contacts` filter correctly, but there is currently no visual indicator to remind the user which filter that they have chosen.

I am not certain about a preferred way to display at the moment, but we should discuss on the next group conference call

[2020-07-27 16:29] mikeallbutt opened #386 "Crashes when adding connections or members"
In my instance, I am getting lots of crashes when adding connections or members to groups.

[2020-07-27 16:49] mikeallbutt opened #387 "Crashes using FAB to assign Meeting Complete"
View a contact record, press FAB, touch 'meeting complete', app crashes.
(This happened many times using my oikos instance.)

[2020-07-27 17:10] mikeallbutt opened #388 "Unrequested data change: removed group from a parent/peer/child group field"
When there are 2 or more groups listed in a parent/peer/child group field, the first group stays but the others are removed when group details are changed (setting the church start date).

The same type if issue happens for a contact.

[2020-07-27 19:21] #370 closed

[2020-07-27 19:21] #380 closed

[2020-07-27 19:22] zdmc23 commented on #387
I am unable to reproduce using "dtappdemo" and "Hillbilly's brother" Contact

[2020-07-27 22:11] raschdiaz commented on #347
Hi  @mikeallbutt @corsacca . As you mentioned, We apply this modification to see the correct dates:

![image](https://user-images.githubusercontent.com/16809967/88597001-ead1a380-d02b-11ea-8a67-614532494881.png)

![image](https://user-images.githubusercontent.com/16809967/88597084-15236100-d02c-11ea-95e0-f4b5ccf1e4e5.png)

[2020-07-28 04:57] zdmc23 commented on #283
Unable to reproduce on either iPhone xR or my old Android 7.1 (which runs slow and usually encounters any lag-related issues)

[2020-07-28 04:59] zdmc23 commented on #335
Bumping to Sprint 24 (https://github.com/DiscipleTools/disciple-tools-mobile-app/milestone/18)

See also: https://github.com/zdmc23/disciple-tools-questionnaire

[2020-07-28 05:03] zdmc23 commented on #359
Hi @corsacca and @ahillbilly , should we open a new issue in the Theme repo to get the `Closed Contact` property included in the API response?

[2020-07-28 05:49] zdmc23 commented on #338
I will mark this as `unable to reproduce` bc I seem to have all of the Users/Contacts that I have "interacted with" available to me on the mobile app.  I'll bring this up for discussion on the 7/29 call.

[2020-07-28 05:52] zdmc23 commented on #386
Hi @mikeallbutt , please try deleting Expo App data/cache on Android, or re-installing Expo on iOS.  These new crashes may be a result of data being stored on your device which do not match what is being returned in the API.  Refreshing should correct the issue, as I'm unable to reproduce these (I am able to both successfully add connections to a Contact and members to a Group)

[2020-07-28 05:57] zdmc23 commented on #388
Confirmed on iOS 13.5.1

![03FF898E-B9CA-40BB-924A-FFD848C0E7C0](https://user-images.githubusercontent.com/191707/88624875-c0a4d380-d075-11ea-9e77-49822b0a5b3d.png)
![1CAB7981-1935-4D90-AF30-93DCC7A993E8](https://user-images.githubusercontent.com/191707/88624879-c13d6a00-d075-11ea-9798-83b26bb5143a.png)
![F3C9C935-F7B7-45A1-A0F5-B99A212B975A](https://user-images.githubusercontent.com/191707/886248

[2020-07-28 06:03] zdmc23 commented on #388
Hi @raschdiaz , we need to prioritize this issue for Sprint 24 in order to perform a release this weekend.  Thx!

[2020-07-28 06:14] zdmc23 opened #390 "Reset or enforce Filter upon clicking back button"
Currently, when I filter `Contacts` and then click a `Contact` and then click `<-` back arrow, the `Contacts` are no longer filtered, but the `Filter` component continues to be displayed and the `Filter` criteria continues to be enabled.

We should either enforce the `Filter` criteria and only show the "Waiting to be accepted" `Contacts`, or reset the `Filter` and hide the Accordion component

Ste

[2020-07-28 06:24] zdmc23 opened #391 "New Contact Field for Meetings Completed"
I received a user request for a new field to be added to the `Contact Details` screen to display # of Meetings Completed.  (We should have this data available to us since we do capture it in the `Comments & Activities` when the `Meeting Completed` Action is taking via the `FAB`

[2020-07-28 22:59] raschdiaz commented on #345
Hi @zdmc23 @mikeallbutt We apply the HTML decoding where is needed (contacts, groups, notifications, comments, activities):

![Screenshot_2020-07-28-17-48-51-259_host exp exponent](https://user-images.githubusercontent.com/16809967/88730542-f096ba00-d0fb-11ea-9a72-a75f0701225a.jpg)
![Screenshot_2020-07-28-17-46-56-424_host exp exponent](https://user-images.githubusercontent.com/16809967/88730543-f

[2020-07-29 08:21] corsacca commented on #359
@raschdiaz On the web, the "My contacts" tab only returns the contacts that are assigned or sub-assigned to you.
Ahmed is not assigned to you (somehow not assigned to anyone) so he will not show up from the "my contacts" tab.

The "Closed Contacts" toggle when off just adds a `{ overall_status: [ '-closed'] }` to the query which filters out closed contacts.

[2020-07-29 08:27] corsacca commented on #359
@raschdiaz can you copy here the exact query you are using that also includes the "Ahmed" result?

[2020-07-29 08:55] ahillbilly commented on #391
@zdmc23 @corsacca , we need a discussion about how to handle custom elements within the mobile app as well as a process for adopting new features into core that aren't already available within the web app core.  I think this one is more the latter, but highlights the need for both as the mobile app creeps closer to parity with the web app and we're looking at new/additional features.

[2020-07-29 14:51] ahillbilly commented on #388
This is applicable for all the "Connections" type fields.

[2020-07-29 15:56] mikeallbutt commented on #347
Still not quite right. I logged a comment in 'dtdemo' for Jessica Blue. The app says it was logged at 7:52pm and not 10:52am, while it is correctly time stamped on the website.

[2020-07-29 16:20] zdmc23 commented on #347
@mikeallbutt would you please try with the mobile website also. It’s possible that it’s related to a time setting on your phone vs your desktop

[2020-07-29 19:30] raschdiaz commented on #347
Hi @mikeallbutt @zdmc23 I do a quick test to verify the @mikeallbutt report in Slack. I do the test using the test using the following settings:

- WP Instance: dtdemo.disciple.tools
- Username: someone

I logged and added a new comment to the contact 'Mike Allbutt' (in the comment is write the exact time):
![2020_07_29_02_13_30](https://user-images.githubusercontent.com/16809967/88843560-f4334b00

[2020-07-31 13:32] zdmc23 opened #393 "Full screen PIN component (mimic iOS)"
A nicer looking PIN component that is full screen and mimics iOS (e.g., https://github.com/jarden-digital/react-native-pincode)

[2020-07-31 14:20] mikeallbutt commented on #365
This "solution" is not a solution that works. If I increase my focus, it shows goes up one level (from a country level) it to show all (the whole world).
As I later explained to @ahillbilly another option is to request used locations, so that if a location about the focus has been used, then that will be offered.

[2020-07-31 15:36] zdmc23 commented on #314
Let's use Icon: "FontAwesome" - "warning" with a red tint color

![warning](https://user-images.githubusercontent.com/191707/89051279-01c11000-d322-11ea-867d-a743b09a1213.png)

[2020-08-02 02:54] zdmc23 commented on #388
Note: **_Step # 4_** of the `Steps to reproduce` is the **_key_**.  You must Add a Group to `Parent`, `Peer`, or `Child` Groups, and then click to navigate to `Group Details`, and `Edit`, and `Save`.

[2020-08-03 14:45] #388 closed

[2020-08-03 20:24] raschdiaz commented on #359
Hi @corsacca to clarify, the mobile app filters the list locally (to works in ONLINE/OFFLINE) mode. We try to replicate the same behavior like web app. We have a function to filter the contact list according to the filters.

[2020-08-04 01:34] mikeallbutt commented on #283
This issue has not been seen for a while now so I think the issue can be closed. (and reopened if needed in the future).

[2020-08-04 01:34] #283 closed

[2020-08-04 02:58] zdmc23 opened #395 "Encoding mismatch between D.T instance and app causing Name/Title change activity"
Because of an encoding mismatch between D.T Instance and the Mobile App, a Name/Title change activity occurs with each and every Edit/Save of a Contact/Group having the char encoding fix per #345

Steps to reproduce:
1. Select a `Contact` or `Group` with an "&amp;" on the D.T Website and an ampersand ('&') on the Mobile App (e.g., "Everyones & church")
1. Click `Edit`
1. Edit ANY field
1. Click `S

[2020-08-04 03:15] zdmc23 opened #396 "Save results in 400 error"
Attempted `Save` of a Contact and 1st attempt fails with 400 error while 2nd attempt consistently works.  It is occurring with multiple Contacts, but specifically in the "dtdemo" instance (not "dtappdemo").  For at least 1 `Group` I cannot successfully save (always results in 400 error).

Observed on iOS 13.6

Steps to reproduce for `Contact`:
1. Log into https://dtdemo.disciple.tools
1. Select a

[2020-08-04 03:35] mikeallbutt commented on #338
As can be seen here, there should be 3 sub-assigned contacts listed in the app.

![Screenshot 2020-08-03 22 32 25](https://user-images.githubusercontent.com/43966676/89250092-93a67280-d5d9-11ea-8754-799cb6627ec1.png)

![Screenshot_20200803-223227](https://user-images.githubusercontent.com/43966676/89250072-82f5fc80-d5d9-11ea-80ec-94d49225d82b.png)

[2020-08-04 03:52] zdmc23 commented on #338
Hi @mikeallbutt , it seems that it's only certain accounts that aren't showing, and I think that may have something to do with how D.T handles Sub-Assign and its concept of "interacted with".  Some Contacts can be added via the Website and then show properly in the App (eg, "Hans C. Test" and "Mike Albutt"), but others cannot.

cc: @ahillbilly @corsacca Would either of you be able to further expla

[2020-08-04 03:53] mikeallbutt opened #397 "Unrequested update to Status, Age and Gender"
I made a change to a contact by assigning who this contact was coaching, BUT other fields were updated/ recorded data changes in the activity log, even though I didn’t touch those fields.:
Status, Age and Gender.

[2020-08-04 03:59] zdmc23 commented on #397
@mikeallbutt , I cannot reproduce with these steps alone.  I edited "Mazifa" `Contact` and specified "Hans C. Test" in `Coached` field, but the `Status`, `Age` and `Gender` did not show up in `Comments & Activities`

[2020-08-04 09:10] corsacca commented on #338
The API request for the contact returns something like
[code]

The signed in user has permission to subassign the "Bob" user, but not the "Zoro" user.
The signed in user may or may not have access to "Random Contact"
"Bob" and "Zoro" and "Random Contact" should still be listed in the typeahead.

When using the typeahead search it will only list out the users and contacts the user has access to.
A

[2020-08-04 09:18] corsacca commented on #359
@raschdiaz  If you log in a as a multiplier the 'All Contacts" tab is not displayed.
All contacts > All would just show all the contacts you have access to (or have stored locally) minus the closed ones.
My Contacts > All looks more like you JSON. Contacts i am assigned to or ubassigned, but **not** closed contacts.

[2020-08-04 12:37] zdmc23 commented on #338
Thx @corsacca !

Hi @raschdiaz , I have found a new example in "dtappdemo" instance for Contact (https://dtappdemo.wpengine.com/contacts/1863/):

[code]

The 2 Users which are not showing ARE present in the response from: `/dt/v1/users/get_users?get_all=1`

![subassign](https://user-images.githubusercontent.com/191707/89294297-51a71c00-d62d-11ea-9585-01d47f6059dc.png)

[2020-08-04 16:10] mikeallbutt commented on #397
Steps to reproduce:
create a new contact - just fill in the name.
got into edit mode for the newly created contact
add some connections - I added 2 contacts for the "coached by" when the field was previously empty
press save
review the activity - and you will see that Age was updated.

[2020-08-04 20:24] #359 closed

[2020-08-04 20:40] raschdiaz commented on #359
Hi @mikeallbutt @corsacca @zdmc23 We add some improvements to the filter behavior. Now the filter will show the same results as web app.

![1-web](https://user-images.githubusercontent.com/16809967/89342075-e0d12580-d667-11ea-8b9c-f0fae785fbb8.PNG)

![1-mobile](https://user-images.githubusercontent.com/16809967/89342082-e29ae900-d667-11ea-9573-b3f7b97c7c03.png)

We notice some filters like this:

[2020-08-04 23:24] zdmc23 commented on #347
https://github.com/DiscipleTools/disciple-tools-mobile-app/commit/5f75f6dfadcd7f0680894efa6196ea9ee18f0ada

[2020-08-04 23:24] #347 closed

[2020-08-04 23:29] zdmc23 commented on #338
Added `SHOWSTOPPER` label bc this issue is causing `Sub-Assign` and `Connection/Relation` data to be lost upon `Edit/Save`

[2020-08-04 23:39] zdmc23 commented on #30
The referenced article (https://medium.com/akveo-engineering/2019-ui-ux-design-trends-you-should-know-268b6bdbc0e3#928d) advances the case for having the Bottom Tab Nav available _more_ often

Last years the smartphones that were released by top mobile companies get large enough screens (5'7-’6'2). This thing makes our fingers and hands practice at stretching. Thumb-oriented design transports all

[2020-08-05 14:24] raschdiaz commented on #338
Hi @zdmc23 @mikeallbutt @corsacca We think this can be solved implementing a behavior like 'sources' fields: When a contact has a 'source' that not exist in the current 'sources' list, the mobile app add this non existing 'sources' to the list to can be shown in the detail / edit mode. But, when the user remove this value, it will be remove it from the 'sources' list.

[2020-08-05 20:44] raschdiaz commented on #338
Hi @zdmc23 @mikeallbutt @corsacca We implemented the behavior similar to 'sources' field:

[https://drive.google.com/file/d/1U4-nigK3dlGSr8CiGPUPSyT9LeilOdTz/view?usp=sharing](https://drive.google.com/file/d/1U4-nigK3dlGSr8CiGPUPSyT9LeilOdTz/view?usp=sharing)

[2020-08-05 20:56] #338 closed

[2020-08-05 21:08] zdmc23 opened #400 "User not showing in Connection (Relation) List"
Similar to #338 , we have a situation where a User/Contact IS returned in the `/v2/contacts/1863/` endpoint, but IS NOT returned in the `/v2/contacts` endpoint.  Rather than resolving these for each occurrence (ie, PR #399 ), perhaps we need a more general solution, or even an API change?

+ @raschdiaz  @corsacca

[code]

![92F4DA74-43B2-480D-B640-1FCF1D87729F](https://user-images.githubuserconten

[2020-08-06 08:37] corsacca commented on #400
@zdmc23 I think i understand that the Typeahead is coded to only show values from a certain list (the saved local contacts in this example). The field however has values that aren't available locally. All the typeaheads might.
The website typeahead has a way to pass in custom values [base list].
Is there a way to do this on the mobile app? And apply it to all the typeaheads?

[2020-08-06 13:28] raschdiaz commented on #400
Hi @zdmc23 @corsacca We consider that a possible solution to this is the following:

When the mobile app get all the contacts (using the end-point 'wp-json/dt-posts/v2/contacts?offset=0&limit=300&sort=-last_modified'), add to this end-point result all related contacts to the list (subassigned, connections), but adding a property that indicates that the user does not have permission to these contac

[2020-08-06 14:02] zdmc23 commented on #400
Hi @corsacca , is there any reason for us to display the users/contacts that the logged-in user does not have access to?  If so, we could display the user/contacts without any link - just a fixed text value.  That would more mimic the Website, but is there any good reason for the logged-in user to even know this information?  For instance, is there a way for them to get "connected" to this user/co

[2020-08-06 14:16] corsacca commented on #400
@zdmc23 @raschdiaz i don't see why we need to add a whole bunch of records to the v2/contacts endpoint when the information is already available on the records returned from that endpoint. This would slow down the v2/contacts query.
Could the app go through each connection field and add those records to an "extra_records" list if that is needed?

@zdmc23 yes. For example: A contact might be in "Gr

[2020-08-06 14:36] zdmc23 commented on #400
@raschdiaz , rather than having multiple lists (`unmodifiedContact`, `unmodifiedSources`, `unmodifiedSubassigned`, and now `unmodifiedRelation`) can we just do the same with a single list, or to the differences in type (per Sources and Contacts/Users) make that too cumbersome?

[2020-08-06 14:43] corsacca commented on #400
You could have one list for all the connections to "contacts", one list for "group" connections, and a list for the field types like "sources"

[2020-08-06 15:01] raschdiaz commented on #400
@zdmc23 @corsacca Actually, these lists exist in the app with the names 'usersContacts', 'sources', 'groups' in the view state.

The problem that mentioned before its the following: the 'usersContacts' list its used in more than one field, if I modify this list (removing some value when the user delete it), it will affect the other fields that use this list.

This implies that I must create separa

[2020-08-06 20:03] raschdiaz commented on #390
Hi @zdmc23 We implemented your second suggestion: On the back button click, the view will reset the **Filter** and hide the **Accordion** component.

[https://drive.google.com/file/d/1UYu7GcXF70DCNotQZvE2873avRDPXj4z/view?usp=sharing](https://drive.google.com/file/d/1UYu7GcXF70DCNotQZvE2873avRDPXj4z/view?usp=sharing)

[2020-08-06 20:10] #390 closed

[2020-08-06 20:25] raschdiaz commented on #362
Hi @mikeallbutt @zdmc23 We add this modification:

[https://drive.google.com/file/d/1UrijvlfTn8hH-8Au--bpo3mQFJgsAfyQ/view?usp=sharing](https://drive.google.com/file/d/1UrijvlfTn8hH-8Au--bpo3mQFJgsAfyQ/view?usp=sharing)

[2020-08-06 20:29] #362 closed

[2020-08-08 03:00] mikeallbutt commented on #362
Thanks for resolving this issue. Should we have the FAB available on the comments and activity screens also?

[2020-08-12 14:49] zdmc23 opened #403 "FAB context (different options for Contact vs Group)"
Currently the FAB is specific to Contacts, but we should make it context-aware for Groups as well

[2020-08-12 14:58] corsacca commented on #169
![image](https://user-images.githubusercontent.com/24901539/90031012-a6ddd000-dcb4-11ea-9c3f-78bdbf35f45a.png)

[2020-08-13 02:44] raschdiaz commented on #396
We see this issue while we are working in the #400 issue. With Sentry implementation, We can see a more detailed cause:

[https://sentry.io/organizations/disciple-tools/issues/1810149131/?project=5356329&query=is%3Aunresolved&statsPeriod=14d](https://sentry.io/organizations/disciple-tools/issues/1810149131/?project=5356329&query=is%3Aunresolved&statsPeriod=14d)

![image](https://user-images.github

[2020-08-13 02:52] raschdiaz commented on #400
Hi @zdmc23  @corsacca We add this 'workaround' to ALL fields related.

To Contact Detail: subassigned, relation, baptized_by, baptized, coached_by, coaching, assigned_to, groups.

To Group Detail: assigned_to, group_coach, parent_group, peer_group, child_group, members.

Additionally, we have to do some extra logic to manage the 'assigned_to' fields, to support this implementation.

We done severa

[2020-08-13 03:07] raschdiaz commented on #329
Hi @zdmc23 We can use some property in the Redux Store to persist this collection BUT will only save the last comments / activities loaded. What do yo think about this?.

[2020-08-13 13:57] #400 closed

[2020-08-13 15:35] raschdiaz commented on #396
Hi @zdmc23 We can reproduce the error in the save group end-point, for some reason, the end-point return this error when the **assigned_to** field its updated:

![image](https://user-images.githubusercontent.com/16809967/90154885-47350280-dd50-11ea-8aa8-ded5a2075881.png)

The field its updated correctly:

![image](https://user-images.githubusercontent.com/16809967/90155136-967b3300-dd50-11ea-8319-

[2020-08-13 19:50] raschdiaz commented on #396
We found the same error in the **dtdemo** instance adding a new address to the group:

![image](https://user-images.githubusercontent.com/16809967/90180104-1c5ca580-dd74-11ea-84bf-adf2c01cdd48.png)

Like the previous test, the end-point return a 500 error, but the data its saved correctly:

![image](https://user-images.githubusercontent.com/16809967/90180246-4e6e0780-dd74-11ea-817b-18a1f056a869.pn

[2020-08-13 22:32] raschdiaz commented on #397
Hi @mikeallbutt @zdmc23 , We can't reproduce this error, Wed do the test in two D.T. instances but it works as expected.

[2020-08-14 01:33] mikeallbutt commented on #386
This issue seems to be resolved.

[2020-08-14 01:33] #386 closed

[2020-08-14 01:33] mikeallbutt commented on #387
This issue seems to be resolved.

[2020-08-14 01:33] #387 closed

[2020-08-14 01:52] mikeallbutt commented on #397
Ok Thanks @raschdiaz - I did another test with dtappdemo and I can still reproduce it - using the steps I described above. Look at the logs for contact "397 test".

[2020-08-14 12:23] zdmc23 commented on #329
Hi @raschdiaz , I don't understand why there is an issue.  If we're online at some point, and we load the data to the local device (and persist it via AsyncStorage), then it should remain available when we go offline.  Why can we only have the "last" comments / activities?  What happens to the previously available data?

[2020-08-14 12:25] zdmc23 commented on #396
Hi @raschdiaz , are you able to reproduce using your own local development instances?  Because then you would be able to review the WordPress debug logs.  Otherwise, we will need assistance from @corsacca because I do not have access to the servers hosting these D.T instances

[2020-08-14 12:28] zdmc23 commented on #400
Hi @raschdiaz , in your demo video, what happens when you click on "Mike A." under `Relation` in `View` Mode?  It looks like it has a link and will attempt to take you to `Contact Details` screen.  Perhaps we should remove the underline/link capability from these sub-list items

[2020-08-14 13:36] zdmc23 commented on #403
Currently there is no FAB for `Group`, so we need to define what "fast actions" should go there

[2020-08-14 15:41] corsacca commented on #396
Here is the error. I'm looking in to it.

PHP Fatal error:  Uncaught ExponentPhpSDK\Exceptions\UnexpectedResponseException: Unexpected response was received from Expo API. in /nas/content/live/dtappdemo/wp-content/plugins/disciple-tools-mobile-app-plugin/vendor/alymosul/exponent-server-sdk-php/lib/Expo.php:206
Stack trace:
#0 /nas/content/live/dtappdemo/wp-content/plugins/disciple-tools-mobile-app

[2020-08-14 16:48] corsacca commented on #396
Fixed with: https://github.com/DiscipleTools/disciple-tools-mobile-app-plugin/releases/tag/v1.8

[2020-08-14 22:50] mikeallbutt commented on #403
As per this issue https://github.com/DiscipleTools/disciple-tools-theme/issues/1007

Initial actions could be:

- Meeting scheduled
- Meeting postponed
- Meeting complete

[2020-08-15 00:04] raschdiaz commented on #329
Hi @zdmc23 , to achieve that, we have to do some validations (in the reducers), and some Redux Store data restructure to detect persisted data and show it to the user (like detail view/ view lists), not only persist it in the Redux.

Currently, the device get the comments/activities of a specific contact/group ONLY when the user go to their DetailView. This info will be saved in one specific prope

[2020-08-20 00:56] zdmc23 commented on #320
Kakao and Line for Taiwan

[2020-08-21 00:01] zdmc23 opened #405 "User not accessible as "Assigned To" but *IS* accessible as "Sub-assigned to", and then disappears from Contact"
Observed on iOS 13.6

User not accessible as `Assigned To` but *IS* accessible as `Sub-assigned to`, and then disappears from Contact

Steps to reproduce:

1. Log into "dtappdemo" instance
1. Select `No full name = new contact in header` Contact
1. Observe that `M.S. User` is inaccessible (no link to click thru to Contact Details screen)
1. Click on `Mike A.` link
1. Observe that `M.S. User` is no

[2020-08-21 00:09] zdmc23 opened #406 "Age field showing as "not-set""
Observed on iOS 13.6

`Age` field is showing as "not-set"

Steps to reproduce:
1.  Login to "dtappdemo" instance
1. Select `Test of issue 397 @854pm`
1. Observe that `Age` field displays as "not-set"

![064DA8A5-E0A9-4232-8561-AC80B79DEDEC](https://user-images.githubusercontent.com/191707/90837879-43d9e200-e321-11ea-87e7-115a7ecff3b4.jpeg)

[2020-08-21 00:19] zdmc23 opened #407 "App crashes when clicking any FAB option under Contacts->Connections"
Observed on iOS 13.6

App crashes when clicking any FAB option under Contacts->Connections

Steps to reproduce:
1. Login to "dtappdemo" instance
1. Select `Test of issue 397 @854pm`
1. Click `Connections`
1. Click `FAB` and select *any* option
1. Observe crash and empty screen

![A28BCD2A-3CD9-4072-B46B-537C079F0DBA](https://user-images.githubusercontent.com/191707/90838288-80f2a400-e322-11ea-9318

[2020-08-21 00:36] zdmc23 opened #408 "Setting a Baptism Date results in a saved date of 1 day less than the specified date"
Observed on iOS 13.6

Setting a Baptism Date results in a saved date of 1 day less than the specified date

Steps to reproduce:
1. Login to "dtappdemo" instance
1. Select `Hans 1234` Contact
1. Click `Progress`
1. Click `Edit`
1. Select a new `Baptism Date`
1. Observe change has taken effect properly
1. Click `Save`
1. Observe upon refresh/reload that the date is now displaying as 1 day less than

[2020-08-21 15:21] mikeallbutt opened #410 "Display "Load More" link only when there are more items to load"
On both the list views of contacts and groups the "Load More" text link is always visible, which is confusing if there are no more items to load. The link should only display when there are actually more items that can be loaded.

[2020-08-21 15:50] mikeallbutt opened #411 "Clearer separator for date notifications"
As seen in the attached image, the current separator of `|` blends into the other text - and it also looks like the letter I or a number 1.

I suggest it be swapped to use the same as the "~" character that is used in the list items between status and pathway progress.

![notifications-separator](https://user-images.githubusercontent.com/43966676/90909500-6f99ae00-e39b-11ea-9704-e4d32d29eac0.png)

[2020-08-21 15:54] mikeallbutt opened #412 "Clearer separation of items in fields"
Details screen for contacts and groups: The people group, locations, address and sources fields all blend together and especially when there are commas used in the name of the item.

![locations-groups-details](https://user-images.githubusercontent.com/43966676/90910005-46c5e880-e39c-11ea-93a0-c3669081172e.png)

I suggest we use the same style as what is used in the edit mode for the same fields -

[2020-08-21 15:58] mikeallbutt opened #413 "Slow to Save made duplicate activity"
When in edit mode and I pressed save after modifying a group and clicked save, it took much longer than I expected to save and return to the non edit screen, so I pressed the save button a second time, and got duplicates of the activity/modifications.

[2020-08-21 16:02] mikeallbutt opened #414 "Attach Search field on the group list page to not scroll"
Like what was implemented for Contacts list screen with issue #257 the same needs to implemented for the groups list screen, so that the Search field on the group list page is fixed to header and does not scroll.

[2020-08-21 16:08] mikeallbutt opened #415 "Search filter activated by selecting more than the text"
In list view and using the filter, by clicking "the dot" next to (on the left side) the filter type in the filters available (not just the word) should activate the filter.

[2020-08-21 16:17] mikeallbutt opened #416 "FAB to create new contact can accidentally be activated when the filter list visible"
When in contact list view, open the filter and it will fill the screen. The FAB is not visible but if you touch where it normally is (bottom right side), the create new contact action will be activated - instead of activating the filter.

[2020-08-21 16:22] mikeallbutt opened #417 "Empty filter results for My Contacts"
When using the filter in the contacts list view, I select `My Contacts`, and opens/expands to list the different types. I select whichever type and the screen adjusts but shows nothing/no list of items/records.

![empty-list](https://user-images.githubusercontent.com/43966676/90912594-7c6cd080-e3a0-11ea-96b6-b1d5121d7775.png)

The following short video shows the issue.
https://drive.google.com/ope

[2020-08-21 16:35] mikeallbutt opened #418 "Ability to assign multiple sources when creating a new contact"
In edit mode of a contact there exists the ability to assign more than 1 source for a contact. The same function needs to be available from the create contact screen.

[2020-08-21 16:46] mikeallbutt opened #419 "Unrequested updates logged"
In instance dtappdemo:

An unrequested contact name was updated when adjusting the phone number or age or gender of the contact "señora saira". When doing a second test later, it also logged info about the status and assigned to fields - neither of which were changed.

Setting the age for "Excel issue 19" also logged Gender as being nothing.

[2020-08-21 16:52] mikeallbutt opened #420 "Contact details: Age field is confusing"
When setting the age of a contact DT uses a pre-configured age range but in the details screen of the contact it doesn't state the chosen age range but instead converts it to show a less than or greater than expression.
Select 26-40 and it shows less than 41 - which is confusing. Maybe the person is less than 25 - which is actually another age range that could be selected.

[2020-08-21 16:57] mikeallbutt opened #421 "Show limited results for fields with many items"
There will be cases when some contacts have many items in fields (ie. connections - their groups, who they are coaching or have baptised) and the list becomes very long. Limiting the list to maybe 10 items and then displaying a "load more" option would help save on screen "real estate".

[2020-08-21 18:25] mikeallbutt opened #422 ""Add new contact" screen modifications"
After using the current version of the `Add new contact` screen, I would like to suggest the following adjustments:

- Have icons for each field - which makes it easier for people to identify more quickly what needs to be listed. Use the same icons that are already assigned to all the fields in the details screen.
- Have the ability to add more than one phone number and email.
- Move `Initial comm

[2020-08-22 12:42] mikeallbutt opened #423 "Share contacts and groups with other users"
Like what is available on the website, it will be necessary for some app users to be able to share a record with another user of the instance. This could be done by having a share button in the FAB of a contact or group.

[2020-08-22 13:10] mikeallbutt opened #424 "Group leader footprint icon is staying activated"
Incorrectly, the Group member leader icon (on a group members screen in edit mode) stays black after being inactivated.

1. access a group record
2. go to the members screen in edit mode
3. (add a member if there are none)
4. click the footprint icon to set that this contact is a leader.
5. press the icon again - but it stays black (and not grey like it should)
6. click save
7. return to edit mode

[2020-08-22 13:20] mikeallbutt opened #425 "Underline group members names in view members screen"
Group members tab: members names should be underlined to be consistent with other areas of the app to indicate clicking the name will take the user to that contact.

[2020-08-22 14:52] mikeallbutt opened #426 "Inconsistent return to contacts list - filtered or not filtered"
When you have finished viewing a contact record, you can click the large bottom `Contacts` icon and you will (correctly) return to the filtered list. But if you instead click the top left back arrow the list view you are taken to is now not the filtered list.

[2020-08-22 15:01] mikeallbutt opened #427 "Set Group status when creating a group"
Connected with this issue https://github.com/DiscipleTools/disciple-tools-theme/issues/1015 it would be helpful in some situations (planning a new discovery group) to be able to assign a group as being inactive when it is being created. This prevents the group getting a group closed date and activity in the logs.

[2020-08-22 23:47] mikeallbutt opened #428 "Disable the Online toggle when wifi and data are turned off"
When having wifi and data turned off, it is currently still possible to toggle the `online` switch on the settings screen and then the app tries to be online - and that causes errors because it is trying to talk to the server. The yellow offline strip message is not displayed either, even though the wifi and data are turned off.

I expect that the `online` toggle should not be able to be adjusted

[2020-08-23 21:12] mikeallbutt opened #429 "Screen reload issue when using FAB actions on contact connections screen"
When using the FAB to mark a `meeting complete` on the **contact connections screen**, the activity is recorded but the screen doesn't fully reload after. Watch the following video to see what happens.
https://drive.google.com/open?id=1SdYqI_3fIvWXdR1HJTtwE686-Jnml8ho

The same happens when other FAB actions are used - like `meeting no show`.

[2020-08-24 01:38] mikeallbutt commented on #429
This is the same issue as #407

[2020-08-24 01:41] mikeallbutt commented on #397
When adding the two people who were baptised by this contact, the 2 fields were logged.

![age-gender](https://user-images.githubusercontent.com/43966676/90995219-e348e000-e580-11ea-9fa6-9ba97fe1522c.png)

[2020-08-24 01:48] mikeallbutt opened #430 "login: Username field is stripping out the @ and ."
When a user has an email address as their username, if they log out using the logout action on the settings screen, they will be taken to the app login screen, but their user name has now been stripped on the @ symbol and any .'s
ie. user@gmail.com becomes usergmail-com

This will become annoying pretty quickly for any app user whose username is their email address.

![login-203344](https://user-i

[2020-08-25 02:37] #411 closed

[2020-08-25 04:11] raschdiaz commented on #329
Hi @zdmc23 , We can implement this improvement, and do some test flows like:

- Get comments/activities data
- Add comments
- Do pagination

See this test flow: [https://drive.google.com/file/d/1bkOSzDhkAVvJTfzB0JnV9e0EAmCCPwVo/view?usp=sharing](https://drive.google.com/file/d/1bkOSzDhkAVvJTfzB0JnV9e0EAmCCPwVo/view?usp=sharing)

Additionaly, We fix some error related to the 'assigned_to' field whe

[2020-08-25 04:19] #329 closed

[2020-08-25 04:23] zdmc23 commented on #329
@raschdiaz , nice job!  That flow looks like what we want.  I'll test more tomorrow, but it looks good per the video.  Thx!!

[2020-08-26 06:57] #335 closed

[2020-08-26 07:02] zdmc23 commented on #419
Duplicate of #397

[2020-08-26 13:01] #396 closed

[2020-08-26 15:50] zdmc23 commented on #424
changing this to a `bug` and prioritizing it in the upcoming Sprint per @mikeallbutt

[2020-08-26 20:51] raschdiaz commented on #304
Hi @mikeallbutt @zdmc23 Do you have any suggestion about this feature?

We consider to add the new options (edit, delete) below the comment. When the user tap one of this options. a new dialog appear to edit or delete the comment.

[2020-08-26 22:30] ahillbilly commented on #304
@raschdiaz Yes. Mimic the web version, please.

Edit and Delete links under comment - Clicking one pulls up a modal with:
1. the old comment in editable form and the option to change and save... or
2. a confirmation of deletion depending on the link clicked.

[2020-08-27 17:07] mikeallbutt commented on #397
Steps to reproduce:
sign in as a multiplier
create a new contact
save
edit the new contact
change the status to closed
save
view the activity - and you will see that age has been recorded in the log, but if you go to it the says "not-set".

[2020-08-29 00:26] mikeallbutt opened #433 "Record should not load when user doesn't have permission"
When a user clicks on a name of a contact or group they don’t have access to, they see various error "toast” messages saying “no permissions to to read: contacts" but then the record loads but all the fields are empty.

The error message needs to be less “techie” and more specific so the app user and the record they don’t have access to should not load.

It might be good to have a pop-up message (

[2020-08-30 15:44] zdmc23 opened #434 "Support Questionnaires for Groups"
#335 enabled questionnaires for `Contacts`; now we want to enable something similar for `Groups`, however with a difference being that the 1st form should always be `Meeting Attendance` (pre-populated with `Members`)

[2020-08-30 15:47] zdmc23 opened #435 "Support Scheduled Questionnaires via Push Notification"
@yorkaspacher has requested the capability to push a questionnaire to field workers on a scheduled/calendar basis.  We have preliminary support for this in the `disciple-tools-questionnaire` plugin, and so we want to implement corresponding functionality in the mobile app

[2020-08-31 00:24] raschdiaz commented on #304
Hi @mikeallbutt @zdmc23 @ahillbilly , We implemented this feature that enables the user to do the following flows:

- Edit comment (ONLINE / OFFLINE)
- Delete comment (ONLINE / OFFLINE)
- Create, edit and delete comment (ONLINE / OFFLINE)
- Create and delete comment (ONLINE / OFFLINE)
- RTL
- I18N

All this were tested in iOS (11.0.3) and Android (5.1, 8.1.0 and 10).

See the following test flow v

[2020-08-31 02:04] raschdiaz commented on #417
Hi @mikeallbutt @zdmc23 We apply the fix. This issue was caused for some JSON restructure we have to do, related to the issue [https://github.com/DiscipleTools/disciple-tools-mobile-app/issues/400](#400)

[2020-08-31 02:36] #304 closed

[2020-08-31 02:36] #417 closed

[2020-08-31 09:06] corsacca commented on #304
@raschdiaz Thanks for pointing out that the endpoint for updating a comment didn't return the expected result. That is now fixed with: https://github.com/DiscipleTools/disciple-tools-theme/commit/18103e4cfae6dab0fdce8e3234621f08ad65e25b

I don't think it is an issue for the mobile app to still display the empty comment if a user deletes the value.

[2020-08-31 16:36] zdmc23 commented on #304
Nice work on this @raschdiaz !

[2020-08-31 20:57] mikeallbutt commented on #304
@zdmc23

Yes I agree! I like too that you can't easily delete a comment - you need to confirm it.

My suggestions are"

- [ ] use the word `Delete` and not `Remove` - to keep consistency across the DT web and app.
- [ ] make the icons smaller (30% less) so they are more the same size as the text (but ensure you can still distinguish what they are).
- [ ] Swap the buttons over - put `Edit` where `R

[2020-09-01 01:29] mikeallbutt commented on #388
@zdmc23 @raschdiaz this issue happened again in the current 1.7 version of the app when I was updating a record on my instance. I will send you the details privately.

[2020-09-01 03:37] mikeallbutt commented on #304
Not all of the comment is visible when the comment is long. The last part of the comment is shown and not the first part. There should be a scroll bars to indicate not all the comment is visible.

![edit-long.png](https://user-images.githubusercontent.com/43966676/91792029-30106480-ebda-11ea-9399-27be045f1b14.png)

[2020-09-01 03:43] mikeallbutt opened #437 "Quick actions from icon on Android"
Like what is possible on many apps when you long press the app icon, a limited list of actions are offered. Adding a new contact and new group might be good here.

![icon-context-menu.png](https://user-images.githubusercontent.com/43966676/91792441-1ae80580-ebdb-11ea-89c6-f1f652115106.png)

[2020-09-02 01:21] raschdiaz commented on #407
Hi @zdmc23 see the following video with the fix: [https://drive.google.com/file/d/1cQ_ShtQtwM6RmY7YYYpyNvkM3UhurUpD/view?usp=sharing](https://drive.google.com/file/d/1cQ_ShtQtwM6RmY7YYYpyNvkM3UhurUpD/view?usp=sharing)

[2020-09-02 02:39] raschdiaz commented on #424
Hi @mikeallbutt @zdmc23 We apply a fix to this: [https://drive.google.com/file/d/1cgJ8hr56EifcrHb24gE1DyG2DWgHaiPt/view?usp=sharing](https://drive.google.com/file/d/1cgJ8hr56EifcrHb24gE1DyG2DWgHaiPt/view?usp=sharing)

[2020-09-02 12:56] #259 closed

[2020-09-02 13:03] zdmc23 commented on #281
Resolved by #438

[2020-09-02 13:03] #281 closed

[2020-09-02 13:40] zdmc23 opened #440 "Reintroduce support for Sentry"
The Dev Team has observed that Sentry is causing app crashes and have temporarily disabled it.  We want to debug the issue and reintroduce support for Sentry

Ref per @raschdiaz : https://github.com/facebook/react-native/issues/19238

[2020-09-02 14:12] #407 closed

[2020-09-02 14:12] #424 closed

[2020-09-02 21:14] mikeallbutt opened #441 "Sub-assigning a user should auto-share the record"
Sub-assigning a user should auto-share the record and it should not auto-remove the share when the user is removed.

[2020-09-03 23:57] raschdiaz commented on #405
Hi @zdmc23 @corsacca Working in this issue, We discovered some inconsistencies about the data that the user has permission to view.

For example:

- User: **hansrasch**
- D.T. Instance: **dtappdemo.wpengine.com**

This user does not have access to the contact '**Anthony Palacio (multiplier)  (contact with id 62)**' (according to website). But in the 'wp-json/dt/v1/users/get_users?get_all=1' end-po

[2020-09-04 09:37] corsacca commented on #405
@raschdiaz i need a little more help understanding your request.

The sub-assigned field is connected to the list of contacts. Any field ( subassigned, groups, etc ) should display the values of that field even if the user does not have access to the full record. I think this was implemented in https://github.com/DiscipleTools/disciple-tools-mobile-app/issues/400 ?

So the sub-assigned field shoul

[2020-09-04 15:12] raschdiaz commented on #405
Hi @corsacca , answering your questions:

"The sub-assigned field is connected to the list of contacts. Any field ( subassigned, groups, etc ) should display the values of that field even if the user does not have access to the full record. I think this was implemented in #400 ?"

**- Yes, this implementation was made in #400 issue.**

So the sub-assigned field should display "Anthony Palacio (mul

[2020-09-05 13:35] mikeallbutt commented on #422
Fixed in #442

[2020-09-05 13:35] #422 closed

[2020-09-05 13:39] mikeallbutt commented on #31
This feature of offering more fields when adding a new record would be useful for groups also.

[2020-09-05 13:44] mikeallbutt opened #443 "Offer `more fields` when adding a new group record"
Offer “more fields” link which can include access to the following fields when activated

Fields that could be offered are:
- set the status of the group
- set the member count
- group start date
- people groups
- locations
- address
- Group of field - parent, peer, child -  and allow it be assigned to one of these

_Originally posted by @mikeallbutt in https://github.com/DiscipleTools/disciple-to

[2020-09-05 14:33] mikeallbutt commented on #261
Closed by PR issue #442

[2020-09-05 14:33] #261 closed

[2020-09-07 01:07] mikeallbutt commented on #56
What screens and what languages and where do we need to put the images so they can be easily accessed?

[2020-09-07 01:09] zdmc23 commented on #56
@mikeallbutt let’s stick with 5, but we need them for each language in the app. I can take half and you take half

[2020-09-07 05:22] mikeallbutt commented on #56
OK. In the play store there are currently 6 images. I think the first one should be removed and replace it with the login page. (or just drop it all together?)

- login
- record list page
- contact details page
- group progress edit
- notifications all
- settings

@zdmc23 how about you do IOS and I will do Android.

Let's use the same login id of someone.

Let's only do languages for some stores f

[2020-09-07 08:52] corsacca commented on #346
Searching for "Disciple tools" and "Disciple.Tools" should find the app. If we need to change the title too let's do that.

[2020-09-07 09:28] corsacca commented on #433
Instead of showing the toast that says "No permission to read contacts", the app should load a different screen  (or a modal) that says "You don't have access to this record or this record is unavailable offline" . With a "close" button or a way to navigate back.

[2020-09-07 09:30] corsacca commented on #405
@raschdiaz if there is a value for a field like "Anthony Palacio (multiplier)" we can not hide or not show the value. We must show it.
The user has access to the Name and ID, but not always the full record. And this is OK.

Instead of showing the toast that says "No permission to read contacts", the app should load a different screen  (or a modal) that says "You don't have access to this record or

[2020-09-07 11:19] mikeallbutt commented on #346
Available here https://play.google.com/store/apps/details?id=tools.disciple.app and https://apps.apple.com/us/app/d-t/id1483836867

[2020-09-07 12:20] mikeallbutt opened #444 "UI adjustments for Edit & Delete a comment"
My suggestions are:

- [x] use the word `Delete` and not `Remove` - to keep consistency across the DT web and app.
- [x] make the icons smaller (30% less) so they are more the same size as the text (but ensure you can still distinguish what they are).
- [x] Swap the buttons over - put `Edit` where `Remove` is and `Remove` where `Edit`. Reasoning: scrolling gets done with the touching more on the r

[2020-09-07 14:42] zdmc23 commented on #346
Hi @corsacca , we made the change from "Disciple Tools" to "D.T" out of consideration to users in security-sensitive regions.  If we change the title in the App/Play Store, what's the plan for those users?

[2020-09-08 13:59] ahillbilly commented on #365
@zdmc23 I'm late to this party, but would agree with @mikeallbutt that there is still an issue here (maybe a new one also).  The focus region is important, and the solution isn't to always return all locations as you commented.  I can't find my notes to you, they were probably in Slack... but I think they covered the reality that the region of focus can be expanded with pretty granular controls.

[2020-09-08 15:24] mikeallbutt opened #445 "Select a location that is outside of your focus region"
When a focus region is set, there needs to be a way to be able to assign a location that is outside of that region. This is doable on the website and needs to be available in the app.

Probably one good work-around would be to list locations that have already been used, so that if there is one listing set for location, then that location will be offered - even though it is outside of the focus set

[2020-09-11 19:21] yorkaspacher commented on #408
Guess what! This is happening in the web version. Just opened a contact in my DEMO site, tapped Baptized in Faith Journey, selected - very distinctly - September 7, 2020, and it saved it as September 6, 2020. Don't think this is a mobile app bug.

[2020-09-11 21:24] zdmc23 commented on #408
Nice catch @yorkaspacher !  I always like the `bugs` that are on @corsacca 's side :-P

[2020-09-14 09:02] corsacca commented on #408
Anyone have a link to a contact where this happened?

[2020-09-14 09:22] corsacca commented on #408
@zdmc23 does https://dtappdemo.wpengine.com/contacts/1775/ display march 11 or march 12 for you now?
It shows march 12 for me both on the web version and on the app.
Since the timestamp represents the start of the day in utc in wonder if there is some timezone conversion going on.

[2020-09-14 13:36] zdmc23 commented on #408
@corsacca March 11 is displayed for me

![Screenshot from 2020-09-14 09-35-25](https://user-images.githubusercontent.com/191707/93092687-c11d1c00-f66d-11ea-9e3e-3cd9147aa1be.png)

[2020-09-14 13:41] zdmc23 commented on #408
@corsacca You're probably correct that it's a date conversion issue

@raschdiaz We're going to need convert to/from UTC and Local time in Moment.js, as described here: https://stackoverflow.com/questions/32540667/moment-js-utc-to-local-time#32540840 .  We can probably start by modifying the `formatDateToBackEnd` method that you have in `shared/index.js`

[2020-09-14 14:57] corsacca commented on #408
@zdmc23 Ok Thanks for confirming. It is an issue on both the web and mobile. I changed the time zone on my computer and the date changed for me too.
Note: The "formatted' parameter of the date field is likely correct. The timestamp is the start of the day utc, so with timezones it will be converted to the previous day in the USA.

[2020-09-15 03:41] #408 closed

[2020-09-15 03:43] zdmc23 commented on #408
I've resolved this in https://github.com/DiscipleTools/disciple-tools-mobile-app/commit/b25a1413116897b150d0312465eb7486d5eb6f58 , but it's not clear to me why the `Comments and Activity` dates do not also require this change (tho it's working, so I won't think too hard about it ;-) )

[2020-09-15 08:06] corsacca commented on #408
@zdmc23 for comments we want to convert to the current time zone so the user knowns when the comment was created in their own time zone.
For dates we don't want to convert.

[2020-09-16 01:01] raschdiaz commented on #405
Hi @zdmc23 @corsacca We can fix the problem related to navigation and add the 'link' feature to the 'assigned to' contact field. We have to do multiple tests, since this modification affects different user flows. We do the following test flows:

- Open filter the contact list view, tap a contact, see contact detail and return to the list view. The filters settings remain as they were (filtered or

[2020-09-16 02:49] #405 closed

[2020-09-16 02:51] zdmc23 commented on #408
@corsacca thanks for clarifying.  No worries, I didn't change the way that the dates are saved, only viewed in the app

[2020-09-16 05:22] #403 closed

[2020-09-16 05:47] zdmc23 opened #447 "Some users unable to Edit/Remove Comments"
Observed on iOS and Android

Some users are unable to Edit/Remove Comments (e.g., "mikeall", "mexsurfer")

Steps to reproduce:
1. Login using "mikeall"
2. Select any `Contact` or `Group`
3. Navigate to `Comments and Activities` tab
4. Enter a new `Comment`
5. Observe that the user does not have the option to Edit/Remove

[2020-09-16 05:49] #447 closed

[2020-09-16 05:50] zdmc23 commented on #447
The issue was that the check for Comment authorship was case-sensitive and so "MikeAll" != "mikeall", etc...

[2020-09-16 05:57] zdmc23 opened #448 "Display Member Attendence form when Group "Meeting Complete" FAB is clicked"
When a Group Meeting is marked as Complete, the User will want to be able to track Member Attendance.  We will display a Member Attendance form when the "Meeting Complete" Group FAB button is clicked.  If there is a Group Questionnaire, then it will follow the Member Attendance form, otherwise navigate back to Group Details

Ref: #434

[2020-09-16 10:26] ahillbilly commented on #346
@zdmc23 - my understanding was that we could list it as Disciple.Tools but display it on the app/homescreen still as D.T...  That was my a thread of logic passed previously that I don't know is true but is an underlying assumption.

[2020-09-16 23:34] raschdiaz commented on #385
Hi team, can you provide us some mock up about this flow?.

We think the app can change the filter icon color (to theme primary color), when a filter its active.

[2020-09-16 23:53] zdmc23 commented on #385
Hi @raschdiaz The D.T mobile website uses `chips` to display the active filters. You could highlight list (All Contacts vs My Contacts) using primary color (like is done when actively selected), and have the `chips` or non-clickable/disabled `buttons` to display the filter from that list (ie, "Yay! New Contact") and the fixed sort order that we use (as a reminder): "Sorting by: Date Modified - mos

[2020-09-17 00:08] zdmc23 commented on #385
By the way, I *do* realize that the filter `chip` is redundant since we already have the text in the Contact List item component (eg, "Yay! New Contact"), but having the `chip` would enable the filters to be multi-select vs. radio button / mutually exclusive, bc then you could have:

All Contacts
My Contacts (blue/primary color - active)
_____________
[Yay! New Contact] [Requires Update] [Sorted b

[2020-09-18 03:53] zdmc23 commented on #444
@mikeallbutt I like this idea, and I've checked each of the items above that I agree with

[2020-09-18 04:19] zdmc23 opened #450 "6 digit PIN for enhanced security"
We have received a field worker request for a 6 digit PIN code (similar to what many apps and iOS enable)

[2020-09-18 20:58] mikeallbutt opened #452 "Indicate visually the status of contacts & groups in fields of records"
Have the same design information assisting the app user like what is requested for the website deisgn https://github.com/DiscipleTools/disciple-tools-theme/issues/1008

This would be available in both view and edit mode for anywhere a user or group is listed.

[2020-09-19 03:46] ericchen59 commented on #366
**Mockup**

Example from Microsoft Planner iOS app
![IMG_A59A48FF7A52-1](https://user-images.githubusercontent.com/26180602/93658386-2889f180-fa09-11ea-990a-bbfba2c840e9.jpeg)

Mockup using DT iOS ap
![IMG_C301AEAD8EE9-1](https://user-images.githubusercontent.com/26180602/93658393-2f186900-fa09-11ea-906a-aa3d2c5990d2.jpeg)

[2020-09-19 03:53] ericchen59 commented on #349
**Mockup**

<img width="307" alt="Screen Shot 2020-09-18 at 11 53 01 PM" src="https://user-images.githubusercontent.com/26180602/93658520-18bedd00-fa0a-11ea-82e3-173f22278666.png">

[2020-09-19 12:17] ericchen59 commented on #355
@mikeallbutt You're talking about adding a "back" or "cancel" button on the dialogue box that shows up when you use the tap path: settings>language? Below is an example of the dialogue box that shows up for me.

![IMG_E1A2F2787F1F-1](https://user-images.githubusercontent.com/26180602/93666905-ed5ee100-fa4f-11ea-84d9-0c2326662323.jpeg)

[2020-09-19 12:29] mikeallbutt commented on #355
Yes @eric that is correct. If someone clicks the language ie. English, then that modal pops up, but the only option the app user can currently do is click OK or force close the app.

[2020-09-20 13:44] zdmc23 commented on #429
Closed via https://github.com/DiscipleTools/disciple-tools-mobile-app/commit/db6a4a9823e8f1f77675c1d576de00c406c5524c

[2020-09-20 13:44] #429 closed

[2020-09-20 13:47] zdmc23 opened #455 "Contact and Group FABs are being displayed in `Edit` Mode"
Observed on Android and iOS

Contact and Group FABs are being displayed in `Edit` Mode

Steps to reproduce:

1. Select a `Contact` or `Group` from List
1. Click `Edit`
1. Observe that FAB remains visible

[2020-09-20 13:49] #455 closed

[2020-09-20 14:30] mikeallbutt opened #457 "Wrong alignment for list of Members Edit when RTL"
The list of names should be aligning to the right when the app is set to use a RTL language.

![rtl-members](https://user-images.githubusercontent.com/43966676/93694335-14f58e00-fad0-11ea-86b7-a76ea1042e1b.jpg)

[2020-09-21 11:31] mikeallbutt commented on #397
@raschdiaz and @zdmc23
On this record https://dtappdemo.wpengine.com/contacts/1391/ the activity was logged (September 21, 2020, 6:24 AM) various connections were made and the Age & Gender were once again noted. Those fields were previously blank but maybe an invisible character has been inserted or removed into or from the fields.

[2020-09-21 14:00] mikeallbutt opened #458 "Sub assigned needs to offer users in the drop down list"
In edit mode of a contact, the list only shows the contacts and not the system users. It needs to include the DT users also.

![sub-assigned](https://user-images.githubusercontent.com/43966676/93776034-bd971100-fbe8-11ea-9049-b84f4e26d442.png)
<img width="242" alt="sub-assigned-to" src="https://user-images.githubusercontent.com/43966676/93776048-c1c32e80-fbe8-11ea-9ce4-471126d5d06a.png">

[2020-09-21 15:03] emmar137 opened #459 "Dropdown arrow for language setting not functional"
for the language setting- the downward arrow does not work, you must select the type of language instead in order to edit the language setting

[2020-09-22 03:19] zdmc23 opened #461 "Refactor styles to enable global theme"
@mikeallbutt has kicked off an initiative to refactor styles in order to enable themes in the future, so we want to reference those commits to an issue

[2020-09-22 03:23] zdmc23 commented on #461
see also #307

[2020-09-22 21:58] raschdiaz commented on #375
Hi @zdmc23 @mikeallbutt , see the following video: [https://drive.google.com/file/d/1dWE0GjvQgbA5P2Lv3oDcm8cdXWSmag_k/view?usp=sharing](https://drive.google.com/file/d/1dWE0GjvQgbA5P2Lv3oDcm8cdXWSmag_k/view?usp=sharing)

[2020-09-22 21:59] raschdiaz commented on #416
Hi @mikeallbutt @zdmc23 , see the following video: [https://drive.google.com/file/d/1dbEebtimFF2Wll-OfGopypwI1bcunQ-d/view?usp=sharing](https://drive.google.com/file/d/1dbEebtimFF2Wll-OfGopypwI1bcunQ-d/view?usp=sharing)

[2020-09-23 02:55] mikeallbutt commented on #375
Nice.
I would like to suggest that the editing field moves up to be located next to the text "Member Count:"

Also, on the non edit screen the text "Members:" should actually say "Member Count:"

[2020-09-23 03:27] zdmc23 commented on #346
The App Store now matches the changes that @corsacca made in the Play Store, but I'll leave this issue open to develop a strategy around Title, Subtitle, Description, and Keywords for the various supported locales.  Also, we can think about App Store Optimization (ASO), which is similar to SEO for Search: https://appradar.com/academy/aso-basics/what-is-app-store-optimization-aso

[2020-09-23 11:40] ahillbilly commented on #346
ASO factors from @zdmc23 's link.

Both Stores:
- App Title (Name)
- In-App Purhcases
- Reviews & Ratings
- Regular Updates
- Downloads (Velocity)
- Usage Metrics
- App Performance

App Store Only:
- App Subtitle
- Keywords (Check out AppRadar.com)

Google Playstore Only:
- Short & Full Descriptions (Google auto-pulls keywords from here, so include them)
- Quality Backlinks

[2020-09-23 20:48] raschdiaz commented on #375
Hi @mikeallbutt we do the label change to "Member Count" on 'only view' mode.

About the field, we prefer to keep the field this way, because its similar to others fields like 'name', 'address' (except for the icon).

[2020-09-23 21:08] mikeallbutt commented on #375
Ok. I did think if that about the field being the same as "name" and "address" but the difference being that those need lots of space, but member count needs maybe 2 or 3 characters. It will look much better to be moved up (and I think it isn't too difficult to code it either.)

[2020-09-23 23:47] raschdiaz commented on #366
Hi @mikeallbutt @ericchen59 See the following video with the implementation: [https://drive.google.com/file/d/1dhjEXCRXjRG_DX3tm_pqt4Teuh3njdw9/view?usp=sharing](https://drive.google.com/file/d/1dhjEXCRXjRG_DX3tm_pqt4Teuh3njdw9/view?usp=sharing)

[2020-09-24 00:33] zdmc23 commented on #366
Looks good, thx!

[2020-09-24 01:05] #416 closed

[2020-09-24 01:05] #366 closed

[2020-09-24 01:31] ericchen59 commented on #375
@zdmc23 - I'm didn't hear that the offline implementation was completed yet by @raschdiaz. Is it complete?

Just wanted to make sure we didn't miss that

[2020-09-24 01:33] zdmc23 commented on #375
@ericchen59 Good point!  The merge auto-closed the issue, but let's re-open until offline implementation is complete

[2020-09-24 21:04] raschdiaz commented on #375
Hi @zdmc23 @mikeallbutt @ericchen59 We implemented this feature in OFFLINE mode, see the following test flow: [https://drive.google.com/file/d/1dkWJEY_RCsuAPdQexpd4yYH-MCIMR0MT/view?usp=sharing](https://drive.google.com/file/d/1dkWJEY_RCsuAPdQexpd4yYH-MCIMR0MT/view?usp=sharing)

We implemented the flow according to what was discussed in Slack:

- If the 'list of members' its higher that current 'm

[2020-09-25 03:27] #375 closed

[2020-09-28 22:50] raschdiaz commented on #384
Hi @corsacca which end-point will return the groups filters, it like this? `/wp-json/dt/v1/users/get_filters?post_type=groups&force_refresh=1`

[2020-09-29 09:14] corsacca commented on #384
@raschdiaz
Good question. I've now created a documentation page to refer to: https://disciple.tools/dev-docs/rest-api/posts-contacts-groups-etc/list-filters/
Please consider the "query" field on each filter. It is the parameters needed to get the list of contacts or groups for the filter.

[2020-09-29 09:33] ahillbilly commented on #206
Do "wontfix" issues ever get closed or do they stay open to show ongoing awareness?

[2020-09-29 21:53] raschdiaz commented on #385
Hi @zdmc23 , We think don't understand the requirement. We have to implement the 'chips' visual elements in the mobile? Or implement some alternative?

[2020-09-29 21:57] raschdiaz commented on #384
Hi @zdmc23 @mikeallbutt @corsacca We implemented the component in the Groups view, se the following video: [https://drive.google.com/file/d/1eD8FXp7S9D_aQegnwJ7Cf59LsVqmsuBC/view?usp=sharing](https://drive.google.com/file/d/1eD8FXp7S9D_aQegnwJ7Cf59LsVqmsuBC/view?usp=sharing)

[2020-09-29 22:27] ericchen59 commented on #385
@raschdiaz I'm going to assume we want to implement 'chips' as the visual way to show filters. My preference is that we stick closely to what the DT website looks like

[2020-09-29 23:54] ericchen59 commented on #353
- Can you share two screenshots to describe this more?
- [ ] Screenshot of your DT website, showing how the custom tile shows up in your UI
- [ ] Screenshot of the mobile app, where you'd like to have the custom tile show up in the mobile UI

- I think I need more to understand what a _fields strategy for groups_ looks like. I'll ping you on Slack to get some time to hear more abt it.

[2020-09-30 00:25] #384 closed

[2020-09-30 00:27] zdmc23 commented on #385
@raschdiaz Yes, please implement the `chips` visual elements as a visual indicator of filter selection.  In the future, we may also leverage the `chips` to enable multiple filters rather than a mutually exclusive radio button format

[2020-09-30 00:28] zdmc23 commented on #384
Great!  Thx @raschdiaz

[2020-09-30 00:31] zdmc23 commented on #206
@ahillbilly If/when we get our Issue count down, then I'd be tempted to close them out.  Until then, I think it's good to leave them open bc the default Issue search is `open` items, and if someone performs a default search and doesn't find their search terms then they are more likely to enter a duplicate issue (that we `wontfix`) than to re-search while including the `closed` items

[2020-09-30 01:47] raschdiaz commented on #349
Hi @mikeallbutt @ericchen59 , See the following video showing the implementation: [https://drive.google.com/file/d/1eP8Is4GGJdS1tOPsl7eLF-KiHMyELKV0/view?usp=sharing](https://drive.google.com/file/d/1eP8Is4GGJdS1tOPsl7eLF-KiHMyELKV0/view?usp=sharing)

[2020-09-30 03:40] zdmc23 commented on #349
Hi @raschdiaz , when I first logged in the badge does not appear.  It's only when I load the Notifications screen.  Also, when I select `Mark All` the badge does not disappear until I manually refresh.  It's fine to remove on refresh, but then we should force an automatic refresh when clicking `Mark All`

[2020-09-30 03:43] zdmc23 commented on #353
@ericchen59 @corsacca @ahillbilly @mikeallbutt

Let's treat this issue like a Scrum Spike and investigate further to define specific requirements, outline what currently works and doesn't (for example, custom faith milestones display in the mobile app when selected, but there is no opportunity to select them).

Should we also target Custom Tiles (like @mikeallbutt 's "Oikos" Tile) with this issue,

[2020-09-30 07:46] ahillbilly commented on #353
I had to google what a Scrum Spike is... but after reading about it, think it is a great idea.
https://www.visual-paradigm.com/scrum/what-is-scrum-spike/#:~:text=Spikes%20are%20an%20invention%20of,reliability%20of%20a%20story%20estimate.

When it comes to talking about custom tiles and fields, it seems like "modularization" is a key term... how do we get any item that looks like this to act in thi

[2020-09-30 10:13] corsacca commented on #353
List of field types:
 'key_select', 'multi_select', 'boolean', 'date', 'number', 'user_select', 'number', 'location', 'connection', 'text'

[2020-09-30 13:43] raschdiaz commented on #349
Hi @zdmc23 this is because the current Notifications logic, currently, the app get the notifications count only on the NotificationsScreen. We need to get this counter when the user do the login.

On the other hand, when testing the flow of 'mark notification as read' we found some errors. When marking the message as 'read', the counter of the 'unread' messages is not automatically updated. Appare

[2020-09-30 13:48] corsacca commented on #353
The fields are available on the `/wp-json/dt-posts/v2/{post-type}/settings` endpoint.
I see that the custom tiles are not. I'll add that soon.

Fields that are part of a custom tile will have `"tile" => "custom_tile_id"` key/value on the field

[2020-09-30 14:59] corsacca commented on #360
GET /wp-json/dt-posts/v2/{post-type}/multi-select-values
get the possible options for adding a tag to the record

[2020-09-30 15:01] zdmc23 commented on #91
@mikeallbutt could you please document your discussion about context menu help from our D.T Mobile App call?

[2020-09-30 15:39] #349 closed

[2020-09-30 15:41] ericchen59 commented on #353
@ahillbilly

- How would the end user expect the order of custom fields to show up on mobile, relative to how they show up on the web? There might be no need to think about this if the web version is already responsive and Custom Tile A, B, C, etc stacks in ascending order.

[2020-09-30 18:08] mikeallbutt opened #466 "Tagging for Groups"
DT has a tagging feature. A group can be tagged and those tags used to filter a list. Things that would be good to be able to do are:

- [ ] Create a tag
- [ ]  apply a tag to a group
- [ ]  remove a tag to a group
- [ ]  use the tags to filter the group list

This should be a component since both Contacts and Groups use tags. See issue #360 for Tagging for Contacts.

[2020-09-30 23:39] raschdiaz commented on #385
Hi @zdmc23 @ericchen59 We implemented the chips like web, see the following video:

[https://drive.google.com/file/d/1eT9WOPDI1SjfRGoG-fASwkPXFGmlNUQE/view?usp=sharing](https://drive.google.com/file/d/1eT9WOPDI1SjfRGoG-fASwkPXFGmlNUQE/view?usp=sharing)

As you can see, the 'Sorting By Date' chip its showed only when some filter (text, radio option) are active. This to avoid the 'searchBar' compone

[2020-10-01 00:05] #385 closed

[2020-10-01 00:07] zdmc23 commented on #385
Thx @raschdiaz !

[2020-10-01 02:56] mikeallbutt opened #468 "Can't assign date after clearing a date"
When a date is set for a field like baptism on the progress screen, if you clear the date and then try to set a new date, the calendar doesn't appear. You need to return to the view mode then re-enter into edit mode and then set the date.

[2020-10-01 22:34] ahillbilly opened #469 "Mapping Custom Post-types"
Similarly to issue #353 , Disciple.Tools has the capacity for customization not only in lists and fields and tiles, but also in Custom Post-types (Contacts, Groups, Trainings, Etc).  We need a way to modularly handle these Post-types, both default and custom, especially within the app navigation.  We cannot keep adding items to the bottom bar navigation.

[2020-10-01 22:37] ahillbilly commented on #469
During the mobile app meeting on Sept 30, 2020, it was mentioned that we could probably signify notifications without using one of the bottom menu slots.  It was also mentioned that we could turn settings/profile into a hamburger menu that includes settings/profile, but expands to contain additional custom post-types.

There was also discussion about the need for a home screen/dashboard to help id

[2020-10-02 04:45] ericchen59 commented on #198
@zdmc23 I motion to close this issue. I think it's resolved per #375 and

[2020-10-02 06:21] raschdiaz commented on #355
Hi @zdmc23 @ericchen59 See the following demonstration video, doing the 'cancel language change' flow in the settings screen:

[https://drive.google.com/file/d/1ek05bwJO8PmhFAnIuEWgloygQgHmrC3d/view?usp=sharing](https://drive.google.com/file/d/1ek05bwJO8PmhFAnIuEWgloygQgHmrC3d/view?usp=sharing)

Additionaly, another video doing the same flow in the login screen:

[https://drive.google.com/file/d/1

[2020-10-02 14:27] corsacca commented on #353
The settings endpoint now has a list of custom tiles.

https://dtappdemo.wpengine.com/wp-json/dt-posts/v2/contacts/settings will return:
[code]

I created a custom tile and a custom field on dtappdemo:
![image](https://user-images.githubusercontent.com/24901539/94934382-8fa4ad00-04c3-11eb-81db-4951e8fb6752.png)

In the future this list will return all tiles (custom and default). And each field tha

[2020-10-02 14:34] #355 closed

[2020-10-02 14:35] zdmc23 commented on #355
Hi @raschdiaz , I have merged the PR, but I do not understand why we need to revert the locale state back in the `i18n.reducer.js`.  If we wait to set the locale upon confirmation, then there would be no need to revert on cancellation

[2020-10-02 14:48] zdmc23 commented on #353
I love the Tile name @corsacca  :smiley:

[2020-10-02 14:51] zdmc23 commented on #198
@ericchen59 Agreed.

Resolved per #375

[2020-10-02 14:51] #198 closed

[2020-10-02 15:05] raschdiaz commented on #355
Hi @zdmc23 , the reason we implemented the "cancel language change" this way in the SettingsView, is because in this view, when the user select a language, first, we do a request to update the user profile setting. After get the 'success' response, the app will proceed to persist the setting in the state, show the dialog, and after user confirmation, the app will update the i18n setting, and proce

[2020-10-03 09:35] mikeallbutt opened #471 "Indicate a contact is also a user"
DT for web displays a message on the contact record when that contact is a user on DT. This information would be useful when trying to find users of DT and might be better suited as a filter.

[2020-10-03 09:41] mikeallbutt commented on #360
The tagging field should be added after the sources field on the details screen of a contact and group.

It should look and function like the connections field for a contact in edit mode (with the light grey background) .

[2020-10-04 05:26] ericchen59 commented on #44
**User Story:** As a user, I want to a filter so that, I can select the type of entries in the "Comments and Activity" section, just like I can in the DT Web version.

Acceptance Criteria
-[] Display a _filter icon_ next to the _add comment_ icon (see mockup below)
-[] Tapping on the _filter icon_ slides to a view with checkboxes
-[] View with checkboxes show only options that exist in the contact

[2020-10-05 14:07] corsacca commented on #441
@mikeallbutt. This looks more like a theme issue. Sharing access is done by the theme/server.

[2020-10-05 14:54] ericchen59 commented on #441
@mikeallbutt do you have workaround in the meantime?

[2020-10-05 22:46] raschdiaz commented on #406
Hi @zdmc23, see the following video showing the fix: [https://drive.google.com/file/d/1f8H_IOsp5SUwxh9EKCuLoPJ-f3AkvlX4/view?usp=sharing](https://drive.google.com/file/d/1f8H_IOsp5SUwxh9EKCuLoPJ-f3AkvlX4/view?usp=sharing)

[2020-10-06 03:09] #406 closed

[2020-10-06 03:45] #414 closed

[2020-10-06 10:47] ahillbilly commented on #459
I agree with @raschdiaz - I don't understand this issue @emmar137 can you elaborate?

[2020-10-06 10:50] ahillbilly commented on #450
The current pin feature only allows a 4-digit pin to be set.  This issue requests the use of a 6-digit pin. @raschdiaz Do you need more information than this?

[2020-10-06 10:57] corsacca commented on #441
Hey. It looks like it is working properly on the web. If you subassigned someone (and then refresh the contact) the modal will display the shared user.

@mikeallbutt can you clarify how this might not be working on mobile?

[2020-10-06 11:03] ahillbilly commented on #423
In the top right corner of a contact or group detail record is a share icon with the word "Share" after it.  Clicking this opens a modal to display which users the contact record is currently shared with and also allows the current user to add or remove other users from this list.

Currently, a mobile app user is not able to share a record, but needs the ability to do so.

![Screen Shot 2020-10-06

[2020-10-06 11:08] ahillbilly commented on #415
![Filter list drop down](https://user-images.githubusercontent.com/25323324/95193798-4bb7ed80-07cc-11eb-83d0-effae9ee0b8b.jpeg)

The blue dot on the dropdown indicates the current filter.  Pressing on another dot should select that filter.  Currently the selection zone for changing the filter is only the filter name and doesn't include the dot to the left of the name, but usage would indicate that

[2020-10-06 11:33] ahillbilly commented on #360
This actually might fit inline with issue #353 where additional and custom tiles are shown as additional tabs and fields on those tiles appear within the tab.  The "Tags" field is on the "Other" Tile, which was not added initially.

As I perceive it...  Creating a new tag and Filtering by a tag will be separate issues from applying and displaying the tags that already exist server side.

[2020-10-06 11:35] ahillbilly commented on #353
Additionally, #360 Tags for contact and group records could/should be included in this issue.

[2020-10-06 13:15] raschdiaz commented on #423
Hi @ahillbilly, an example of web behavior flow would be helpful. About visual behavior, we consider something like this:

A new option in the FAB, called 'Share'. When the user presses this button, a modal will be displayed with a field to edit the users / contacts to share this contact / group.

This is correct?

[2020-10-06 13:20] raschdiaz commented on #415
Hi @ahillbilly to confirm the @mikeallbutt comment:

The user can select multiples filters options (radio) and write a text, applying all this filters in the same search.

For example: Write 'Hans' word, Select the 'active' and 'closed' options -> Show contacts that apply this 3 filters.

Its that correct?.

[2020-10-06 13:23] raschdiaz commented on #450
Hi @ahillbilly , okay, understood.

[2020-10-06 13:48] ahillbilly commented on #415
Is that comment from another issue?  I don't see that comment above and that to me sounds like an advanced feature that I don't think we are pushing for.  This one is just improving the usage and making the area that feels selectable, truly selectable.

I do remember something where they were talking about multiple filters and search in the sprint meeting, but I'm not sure it was clarified and it

[2020-10-06 13:55] ahillbilly commented on #423
Before starting work on this, I'd like to get group consensus on the UI placement.  The FAB could work, but it doesn't feel like the right place in context of the other quick actions...

Let's hold on this and try to get additional feedback.

The use case though is that I am working with a contact and I know that I will be traveling for a month and my friend or co-worker is going to stay and is wi

[2020-10-06 16:07] mikeallbutt commented on #459
I have just tested this and the arrow does work on Android. If you select the word or the arrow, the menu opens. I think this issue can been closed.

[2020-10-06 16:37] mikeallbutt commented on #441
In the app it is working correctly. When a contact is sub-assigned to the contact, that contact that is being edited/updated does get shared with the contact that it is being sub-assigned to.

[2020-10-06 16:37] #441 closed

[2020-10-06 16:41] mikeallbutt commented on #360
@ahillbilly yes the tags are in the other tile in DT but it would be better to have the tags just be at the bottom of the details screen.
It would be good if was possible to move fields into whatever tile the admin for the instance prefers.

[2020-10-06 16:45] mikeallbutt commented on #415
This is what the issue is about. Just making the dot to the left of the text to be selectable.

[2020-10-06 19:44] raschdiaz commented on #415
Oh ok, understood.

[2020-10-06 21:42] raschdiaz commented on #44
Hi @ericchen59 @mikeallbutt , see the following video showing the implementation: [https://drive.google.com/file/d/1fEqtfuuULC9YetHMnSXFByOG5R5DdMnR/view?usp=sharing](https://drive.google.com/file/d/1fEqtfuuULC9YetHMnSXFByOG5R5DdMnR/view?usp=sharing)

In this feature, we implemented the fix to the radio/checkbox tap (related to the issue #415)

[2020-10-06 22:05] raschdiaz commented on #415
Hi @mikeallbutt @ahillbilly We implemented the fix: [https://drive.google.com/file/d/1fQc2aqagAwT7kkovvqclWNs32eR7GRbP/view?usp=sharing](https://drive.google.com/file/d/1fQc2aqagAwT7kkovvqclWNs32eR7GRbP/view?usp=sharing)

[2020-10-06 23:51] ahillbilly commented on #360
I understand the desire for the tags to be in a different tile... that’s a theme issue and I think is being worked on... but as far as the mobile is concerned, it should mimic in a consistently modular way what is going on within the theme... so for now it would see from the theme the other tile and the tags within it.

On October 6, 2020 at 5:41 PM, MexSurfer<notifications@github.com>wrote:

[2020-10-07 20:18] raschdiaz commented on #73
Hi @zdmc23 , working in this issue, we get a problem, when we group the comments/activites by **date** and user, we dont get the list like the web app show us. But, when we sort the comments/activites by **datetime** and user, the list its similar to the web app

Web app comments/activities example (Contact Ramírez):
![image](https://user-images.githubusercontent.com/16809967/95381796-46cb6a80-08a

[2020-10-07 21:09] raschdiaz commented on #428
Hi @mikeallbutt , see the following video demonstrating the implementation: [https://drive.google.com/file/d/1fSrEcCT44OhvGycoB-KQ8ijtQ4Qvje1e/view?usp=sharing](https://drive.google.com/file/d/1fSrEcCT44OhvGycoB-KQ8ijtQ4Qvje1e/view?usp=sharing)

[2020-10-08 04:19] ericchen59 commented on #395
@raschdiaz Just FYI, I was able to reproduce this through Expo.

iPhone 6s, iOS 14.0.1

Reproduction Flow
https://drive.google.com/file/d/1Q3Umi7EOV1VHK4OVEuxWwGcl5KvVDxZe/view?usp=sharing

Final Result - Mobile view
![IMG_2982](https://user-images.githubusercontent.com/26180602/95413971-c3843600-08fa-11eb-9afc-da4e79ca976b.jpg)

Final Result - Web view
<img width="1187" alt="Screen Shot 2020-10-0

[2020-10-08 04:45] ericchen59 opened #474 "View Custom Filters in Mobile App"
As a mobile app user (multiplier), I want to be able to see the Custom Filters that I have saved on the DT web version, so that I can quickly see custom views of my contacts database.

**Acceptance Criteria**
- [ ] DT mobile app user can see and select the same options for Custom Filters as they would if they were using DT web version

**DT Web - Custom Filters are accessed here**
<img width="1189

[2020-10-08 04:52] ericchen59 commented on #466
@mikeallbutt It seems that this issue is now a duplicate of the recently expanded scope of #360. I motion to close this issue.

[2020-10-08 07:55] ahillbilly commented on #474
I had this on my list too.  I think where you highlighted is the natural place for it.

Secondary question (for another issue?) - Do we allow (add functionality for) creation and saving of custom filters within the app?  Or do we keep that as a web based function?

[2020-10-08 09:25] corsacca commented on #73
@raschdiaz
This is the gist of what the web app does:

//build an array of the comments and activity
let displayed = array of comments and activity

order displayed array by date

//create groupings
- take a first comment/activity
- keep adding comments/activity as long as the user is the same and time is < 1h from the first comment/activity

If you come to a new user or the time is more than 1 ho

[2020-10-08 11:47] ericchen59 commented on #474
I do think that creation and saving of custom filters in the app would be a natural next step. But a little unsure on the size effort it would take.

@zdmc23 any insight on how much effort might increase by if we bundle this issue + function for creation and saving of custom filters (i.e. 1.5x, 2x, 5x?)

[2020-10-08 11:53] ericchen59 commented on #73
@corsacca When the theme code keeps adding comments/activity as long as the user is the same and time is < 1hr from the first comment/activity, what time stamp does the code display? (i.e. the time of the first comment/activity, time of the latest comment/activity, etc?)

[2020-10-08 11:56] ahillbilly commented on #474
I’d probably separate…

I’m also curious why the default filters that they have implemented don’t operate the same as the web… they’re somehow querying differently.  Same filter in mobile and web aren’t yielding the same results.

I’ll try to find and post an example with test data, but have seen it with live data.

[2020-10-08 12:08] corsacca commented on #73
@ericchen59 The date/time displayed for the grouped activity/comments is the earliest date in that group.

[2020-10-08 20:27] ericchen59 commented on #73
@raschdiaz does this give you enough info?

[2020-10-09 02:13] raschdiaz commented on #73
Hi @ericchen59 , for the moment, yes.

[2020-10-09 20:58] raschdiaz commented on #73
Hi @zdmc23 @ericchen59 @corsacca see the following video with the implementation: [https://drive.google.com/file/d/1fYdcitfZCKQM3K-TTm-HrYsSCPd6gq6a/view?usp=sharing](https://drive.google.com/file/d/1fYdcitfZCKQM3K-TTm-HrYsSCPd6gq6a/view?usp=sharing)

[2020-10-09 21:41] raschdiaz commented on #73
Hi @zdmc23 @corsacca @ericchen59 see the following video with the implementation: [https://drive.google.com/file/d/1frCCo5Z3_OTcWw9WAvVC722ni1QUG2Kh/view?usp=sharing](https://drive.google.com/file/d/1frCCo5Z3_OTcWw9WAvVC722ni1QUG2Kh/view?usp=sharing)

[2020-10-10 01:33] #44 closed

[2020-10-10 01:33] #415 closed

[2020-10-10 01:33] #428 closed

[2020-10-10 01:33] #73 closed

[2020-10-10 13:39] ericchen59 commented on #423
**User Story**
As a user, I want to be able to share a record so that another user can view, edit, and comment on the contact's record.

**Acceptance Criteria**
- [ ] Access a share option from a hamburger menu in the upper right corner, to the right of the Edit button
- [ ] user can share and unshare with any other user

**Web version share button (so you can check flow on web version)**
<img wid

[2020-10-11 23:02] zdmc23 commented on #448
Demo: https://www.youtube.com/watch?v=yqEyPU8YG0k

[2020-10-11 23:15] #448 closed

[2020-10-13 21:16] raschdiaz commented on #395
Hi @zdmc23 @ericchen59 see the following video with the fix: [https://drive.google.com/file/d/1gAPPFubDamYrptKMxyN5WVMhgN0ma9st/view?usp=sharing](https://drive.google.com/file/d/1gAPPFubDamYrptKMxyN5WVMhgN0ma9st/view?usp=sharing)

[2020-10-13 21:48] raschdiaz commented on #450
Hi @zdmc23 @ahillbilly @ericchen59 see the following video with the modification: [https://drive.google.com/file/d/1gFC2TDu41_12U7p9d8jcQZbAP0GR12_w/view?usp=sharing](https://drive.google.com/file/d/1gFC2TDu41_12U7p9d8jcQZbAP0GR12_w/view?usp=sharing)

[2020-10-13 22:31] #395 closed

[2020-10-13 22:31] #450 closed

[2020-10-13 22:47] raschdiaz commented on #450
FYI: We recommend to the users with the PIN code active to clean the cache app ( before upgrade the app) to avoid possible problems with old PIN code saved in the app.

[2020-10-13 22:52] zdmc23 commented on #450
Good reminder!  Thx @raschdiaz

[2020-10-13 23:39] ericchen59 commented on #320
@corsacca and @ahillbilly - are custom Social media links already built into the DT Theme?

My sense is that deep links provide great value to the multiplier using DT mobile app. What I'm interested to know is if there's already a way DT theme is trying to this as well?

[2020-10-14 04:59] ericchen59 commented on #466
confirming this is now a duplicate of #360

[2020-10-14 09:39] ahillbilly commented on #320
@ericchen59, the theme allows saving custom social media links within contact details.  My limited understanding of deep links is that it attempts to open services' mobile apps rather than opening the links within a browser.  I don't know whether this is as great a value on the web app as it will be on mobile, but am open to the conversation.

[2020-10-14 16:47] raschdiaz commented on #457
Hi @mikeallbutt @zdmc23 @ericchen59 see the following video showing the fix: [https://drive.google.com/file/d/1gZmqmivQNlz3eRDPexDCVopfFg7362J7/view?usp=sharing](https://drive.google.com/file/d/1gZmqmivQNlz3eRDPexDCVopfFg7362J7/view?usp=sharing)

[2020-10-15 15:18] zdmc23 commented on #320
@ericchen59 @ahillbilly Deep Links work on the Mobile Website also bc it's more about "handling" them on a mobile device than which client they are clicked from.  A mobile app can specify that it will handle the following type of link: "dt://mylink", and then whether that is a link clicked on from a mobile website or a mobile app, it will prompt the opening of the app that has registered that prot

[2020-10-15 15:20] #457 closed

[2020-10-15 15:40] #459 closed

[2020-10-18 04:37] ericchen59 commented on #397
@mikeallbutt I wasn't able to reproduce this as an admin user on the production D.T. app. Can you check once more if you can reproduce this?

[2020-10-18 05:49] ericchen59 opened #479 "Contact Search bar needs to search whole term"
**Bug:** On the contacts page, when type in a search term, the searching behavior only reacts to the first two letters. See the video here: https://drive.google.com/file/d/1b0KDCBN4aW9C_apLE09scrnjnJyH4Lo5/view?usp=sharing

**User Story:** As a user, I want to be able to type in the partial or full name of a contact so that the contacts list live filters results that match the search term I am typ

[2020-10-19 08:53] corsacca commented on #169
Me can point to this page: https://github.com/DiscipleTools/disciple-tools-mobile-app/issues/169

[2020-10-21 01:56] ericchen59 opened #481 "User sees list of interaction history from past week"
Per @mikeallbutt from Slack

[2020-10-24 03:58] raschdiaz commented on #423
Hi @mikeallbutt @zdmc23 @ahillbilly @ericchen59 see the following video showing the implementation: [https://drive.google.com/file/d/1rn74q3L3SjKUm0o7ylSDQQ1mmk31d4Ai/view?usp=sharing](https://drive.google.com/file/d/1rn74q3L3SjKUm0o7ylSDQQ1mmk31d4Ai/view?usp=sharing)

[2020-10-24 15:15] mikeallbutt commented on #426
While this issue is being fixed, it would be good to ensure the same issue does not exist and is resolved for groups as well.

[2020-10-24 15:26] mikeallbutt opened #483 "Show people in my groups"
As an app user with full permission to see all users (and with quite a lot of contacts of my own), I would like to have a list (maybe a contact list filter will achieve this) of all the people that are in the groups I am involved with. Maybe some of these people have not been shared with me, but at least seeing their names in a contact list filter will help me remember who are involved in groups I

[2020-10-24 18:46] mikeallbutt opened #484 "Status background colour is missing"
In the status field of a contact or group in view screen, the background colour is missing and only the outline of the field is coloured at match the status.

[2020-10-26 16:41] raschdiaz commented on #350
Hi @mikeallbutt @zdmc23 @ericchen59 see the following video showing the implementation: [https://drive.google.com/file/d/1hmWUlbootrUK3Bm-jbe0lDSPxfeJPnHs/view?usp=sharing](https://drive.google.com/file/d/1hmWUlbootrUK3Bm-jbe0lDSPxfeJPnHs/view?usp=sharing)

[2020-10-26 20:16] raschdiaz commented on #425
Hi @mikeallbutt @zdmc23 @ericchen59 see the following video showing the implementation: [https://drive.google.com/file/d/1hqAjfb-fXnYHqqqMZv3LHgjlFc3iro28/view?usp=sharing](https://drive.google.com/file/d/1hqAjfb-fXnYHqqqMZv3LHgjlFc3iro28/view?usp=sharing)

[2020-10-27 01:02] #350 closed

[2020-10-27 01:02] #423 closed

[2020-10-27 01:02] #425 closed

[2020-10-27 01:20] zdmc23 opened #485 "Fix breaking changes when upgrading to new Notifications API"
Per Expo, the existing usage of the Notifications API is being deprecated in the next release:

[code]

Ref: https://docs.expo.io/versions/latest/sdk/notifications/

[2020-10-27 19:22] mikeallbutt opened #486 "Copy text to paste elsewhere"
There are certain places where it would be great to be able to copy text and have it available to be pasted elsewhere.

Things like a comment and details about a contact and group would be the most important.

[2020-10-27 22:02] raschdiaz commented on #458
Hi @mikeallbutt @zdmc23 @ericchen59 we added the users list to the 'sub assigned' field, see the following video:

[https://drive.google.com/file/d/1iARUeZLwCjX5Y8cBEIHd0S_8uuVxBCVJ/view?usp=sharing](https://drive.google.com/file/d/1iARUeZLwCjX5Y8cBEIHd0S_8uuVxBCVJ/view?usp=sharing)

But, comparing the web behavior with the mobile, we notice the web app do a request when the user types a keyboard

[2020-10-28 21:33] #458 closed

[2020-10-28 22:35] raschdiaz commented on #420
Hi @mikeallbutt @zdmc23 @ericchen59 see the following video with the fix:

[https://drive.google.com/file/d/1iE0Ovb6IhZdNT6xECjQmF_JLIKzX-DyJ/view?usp=sharing](https://drive.google.com/file/d/1iE0Ovb6IhZdNT6xECjQmF_JLIKzX-DyJ/view?usp=sharing)

Additionally two things:

- Several translations were added, please add the respective translations.
- We fix some error when the user try to edit the cont

[2020-10-28 22:59] raschdiaz commented on #426
Hi @mikeallbutt @zdmc23 @ericchen59 after doing several test wit multiple devices (Android, iOS), the flow works as expected (contacts/groups):

[https://drive.google.com/file/d/1iXFNVWlkVfTmvy7G-Gb2_0SyIG2JCSBv/view?usp=sharing](https://drive.google.com/file/d/1iXFNVWlkVfTmvy7G-Gb2_0SyIG2JCSBv/view?usp=sharing)

In this test flow, we do the 'back' action using the bottom button and the top back i

[2020-10-29 04:31] ericchen59 commented on #353
User story: As a user, I want to see all custom tiles and custom fields from my instance to show up in the mobile app, so that I can see all the data that is available to any given contact or group.

**Acceptance criteria:**
- [ ] I can view a contact or group and see custom tiles as additional "pages"
- [ ] I can view custom fields that have been added to any of my tiles

**Mockup**
![94657493-73

[2020-10-29 04:41] ericchen59 commented on #468
User story: As a user, I want to set the date of a baptism, clear it, and be able to set it again, without needing to exit the edit mode for a contact.

Acceptance Criteria:
- [ ] In edit mode on a contact, after clearing the baptism date and in the process of selecting a new date, the calendar dials show up

**Flow Demonstration**

[2020-10-29 04:45] ericchen59 commented on #484
User Story: As an Android OS users, I want to be able to see the background color of the status of my contact so that I can see the text color (in the intended color scheme)

Acceptance Criteria:
- [ ] I can see the background color in the contact status bar
- [ ] I can read the font in the contact status bar

Example from iOS (proper background color)
![Image from iOS](https://user-images.githubu

[2020-10-29 04:49] ericchen59 commented on #413
@mikeallbutt I wasn't able to replicate the issue. Can you share a screen recording of this behavior?

[2020-10-29 04:58] ericchen59 commented on #483
@mikeallbutt would Custom Filters #474 get at use case?

[2020-10-29 05:01] ericchen59 commented on #63
This feature seems to have been implemented already.

[2020-10-29 11:41] mikeallbutt commented on #63
@ericchen59 on the website a modal is displayed which offers a date field. Yes the app has a date field but the user is not encouraged to use it. This functionality is what the issue was requesting (but obviously didn't describe it well).

[2020-10-29 14:12] #420 closed

[2020-10-29 14:21] corsacca commented on #484
extra info: The colors should available as a field in the field options.

[2020-10-29 19:58] raschdiaz commented on #479
Hi @ericchen59 we can't see the video, we need to you give us permissions or let the video with public access.

Can you add more details about the 'search live filters as user types' flow?

[2020-10-29 20:00] raschdiaz commented on #468
Hi @ericchen59 we can't see the video, we need to you give us permissions or let the video with public access.

[2020-10-29 20:55] ericchen59 commented on #479
@raschdiaz video permission and acceptance criteria updated

[2020-10-29 20:55] ericchen59 commented on #468
You should have access now

From: Hans Smüller Rasch Diaz <notifications@github.com>
Reply-To: DiscipleTools/disciple-tools-mobile-app <reply@reply.github.com>
Date: Thursday, October 29, 2020 at 4:00 PM
To: DiscipleTools/disciple-tools-mobile-app <disciple-tools-mobile-app@noreply.github.com>
Cc: Eric Chen <eric.chen59@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [DiscipleTools/d

[2020-10-30 18:27] #468 closed

[2020-10-30 20:08] #484 closed

[2020-10-30 20:11] raschdiaz commented on #484
Hi @mikeallbutt @ericchen59 see the following video with the fix:

[https://drive.google.com/file/d/12DvUlHQfNGCFG63rRyCZm8-VPZ-84GUF/view?usp=sharing](https://drive.google.com/file/d/12DvUlHQfNGCFG63rRyCZm8-VPZ-84GUF/view?usp=sharing)

[2020-10-30 21:17] raschdiaz commented on #169
Hi @corsacca there is a way to replicate this flow? Which DT instance we can use?

[2020-10-30 22:51] raschdiaz commented on #169
Upon investigation, we discovered that the current toast library does not support an option to perform the 'tap' action.

To support the link behavior, we will have to use a different toast library. But this could break the visual flow of the user, since the 'toast' element would have a different design.

We found this library: [https://github.com/ywein/react-native-another-toast](https://github.c

[2020-10-31 08:03] corsacca commented on #169
@raschdiaz try to use app with any D.T instance that does not have the mobile plugin activated.

I'd suggest we don't try to put everything in the toast.

The toast could say: Configuration needed on [the url they entered].

And we put this message on the login screen instead:
"The Mobile App Plugin is required and does not seem to be activated on your Disciple.Tools. Click **here** for more infor

[2020-11-01 15:20] ericchen59 opened #491 "While in View mode, remove/hide drop down arrow from Contact and Group status field"
This UI/style issue was introduced after #484.

User Story: as a user in view mode for a contact or group, I do not want to see a drop down arrow in the status field, so that I will not assume that I can tap the arrow to select a status.

- [ ] no arrow visible in status field while in view mode
- [ ] arrow visible in status field while in edit mode
- [ ] the above two criteria should apply to bot

[2020-11-04 00:33] raschdiaz commented on #169
Hi @corsacca @mikeallbutt @zdmc23 @ericchen59  see the following video showing the implementation:

[https://drive.google.com/file/d/1jWRYDcMjePlGBNR--2u9fDA3tLdZ7Jjs/view?usp=sharing](https://drive.google.com/file/d/1jWRYDcMjePlGBNR--2u9fDA3tLdZ7Jjs/view?usp=sharing)

We test this flow using a local D.T. instance, disabling the 'Disciple Tools - Mobile App Extension' plugin in the D.T instance.

[2020-11-04 12:24] mikeallbutt commented on #397
I have also seen that the **name field** gets logged in the activity record that it has been updated but it was not touched.

[2020-11-04 12:27] #169 closed

[2020-11-04 20:37] raschdiaz commented on #479
Hi @ericchen59 see the following video with the fix:

[https://drive.google.com/file/d/1jZvrxIIMJiNKMonMUTAgOlv7TQ1dFQLL/view?usp=sharing](https://drive.google.com/file/d/1jZvrxIIMJiNKMonMUTAgOlv7TQ1dFQLL/view?usp=sharing)

The reason the list does not change, its because the filter does not return results. Now the filter fill show records (or not) according to the current text filter.

[2020-11-04 21:54] raschdiaz commented on #357
Hi @mikeallbutt @zdmc23 @ericchen59 see the following video showing the implementation:

[https://drive.google.com/file/d/1jdzDlhfB319j4gbYtPv_EOe2Fb9hf6cl/view?usp=sharing](https://drive.google.com/file/d/1jdzDlhfB319j4gbYtPv_EOe2Fb9hf6cl/view?usp=sharing)

[2020-11-05 22:57] raschdiaz commented on #474
Hi @ericchen59 @ahillbilly @corsacca we found a problem trying to implement the following filter:

![image](https://user-images.githubusercontent.com/16809967/98305026-118a6900-1f8f-11eb-9b00-3d2fe4e41a3e.png)

This filter its related to the 'share' data of the contact, but in the current contact list (persisted in the app), this information is not present.

This is the value used to filter the li

[2020-11-06 08:45] corsacca commented on #474
For filters that don't directly match fields: is it possible to not support the in offline mode?

[2020-11-06 19:48] raschdiaz commented on #474
We can try to omit them to not show them if the filters does not return registers. We prefer to add this to ONLINE/OFFLINE mode to avoid the user select a filter that could not work (As mentioned in our previous comment).

What do you think about this?.

[2020-11-07 12:44] ahillbilly commented on #474
Whether we hide the filter completely in offline mode or grey it out with an icon indicating it isn't available in offline mode, I think that the solution: Don't offer a filter in offline mode that doesn't work correctly in offline mode - is correct.  We can discuss whether to add them grey'd out or hide them completely as a separate issue, but I believe either of these would allow you to complete

[2020-11-10 05:36] ericchen59 commented on #474
@raschdiaz - is the above sufficient direction? Let us know! Thanks

[2020-11-10 22:26] raschdiaz commented on #474
Hi @ahillbilly @ericchen59 We implemented this behavior in the mobile app, but we found the following behavior:

If the user log-in in the app (ONLINE MODE), get the all the filters (including the ones that not return contacts/groups records), and after this switch to the OFFLINE MODE, the filters that not return contacts/groups records, will not disappear.
This happens because the mobile app maps

[2020-11-10 22:38] #357 closed

[2020-11-11 02:57] ericchen59 commented on #474
I would lean towards the option of "detect the mobile ONLINE/OFFLINE mode change to retrieve the updated data of filters." However, I will defer to @corsacca and @ahillbilly, they may have a better sense of the web users' expectation.

[2020-11-11 09:40] corsacca commented on #474
@raschdiaz how do you determine if a filter works in offline mode? It think you are right that we need to run some checks when displaying a page to check if the user is offline or online.

[2020-11-11 13:19] raschdiaz commented on #474
@corsacca actually, in the login process, the app mobile do a request to get the filters config, in this process we check the OFFLINE state of app, if true, only return the filters that show records (specifically in the reducer).

[2020-11-11 23:40] raschdiaz commented on #474
Hi @ericchen59 @ahillbilly @corsacca @zdmc23 see the following video with the implementation:

[https://drive.google.com/file/d/1jzNgHhvI3A31IDI_Suk9lJat-aw9s3Zx/view?usp=sharing](https://drive.google.com/file/d/1jzNgHhvI3A31IDI_Suk9lJat-aw9s3Zx/view?usp=sharing)

[2020-11-12 03:08] #479 closed

[2020-11-12 03:51] ericchen59 commented on #358
User Story: As a DT mobile app user, I want to be prompted by the app to select the same _reason [not ready, paused, closed]_ as the DT website, so that when I change contact information to [not ready, paused, closed] on the DT mobile app and select a reason, the DT website will reflect the same change

Video Flow of the DT website is [here](https://drive.google.com/file/d/1MXVAF88asr1h1iU17sNUr3I

[2020-11-12 03:59] ericchen59 opened #495 "View Status Change reason (just like the DT website)"
User Story: As a DT mobile app user, I want to see the same _reason for status change_ (as seen on the DT website) for contacts who are [not ready, paused, closed], so that I do not have to go the DT website to see the reason why a contact is that current status.

Mockup - red box shows where this _reason for status change_ should show up in the DT mobile app
![IMG_00862F4189DE-1](https://user-ima

[2020-11-12 04:09] ericchen59 commented on #486
I'm not sure if this is something that is just a "flip switch" enablement for the entire app, or it has to be enabled "per unit"

@zdmc23 - do you happen to have an intuition about how this feature would be enabled?

[2020-11-12 04:20] ericchen59 commented on #360
User Story: As a DT mobile app user, I want to view tags and filter by tags for [contact, group] records, so that see the tags that any [contact, group] and enter a filter view from that tag.

Acceptance Criteria:
- [ ] when a user goes to the "Other" page for a [contact, group], they can see the same tags as seen on the DT website for that given [contact, group]
- [ ] when a user taps on a tag, t

[2020-11-12 04:28] ericchen59 opened #496 "Add, Apply, Remove tag from [contact, group]"
Placeholder issue to split #360.

Asked for clarity on DT website tag flow before creating this issue.

[2020-11-12 05:13] ericchen59 commented on #471
Example from DT Website:
<img width="713" alt="Screen Shot 2020-11-12 at 12 13 36 AM" src="https://user-images.githubusercontent.com/26180602/98898568-ea92d200-247b-11eb-9599-013539504806.png">

[2020-11-12 15:01] zdmc23 commented on #353
Hi @raschdiaz , from the start we will want to consider OFFLINE mode for this issue, similar to our approach in #474 . Thx!

[2020-11-12 20:22] raschdiaz commented on #360
Hi @corsacca can you confirm us the prop 'tag' its retrieved on the contacts **(https://${domain}/wp-json/dt-posts/v2/contacts?offset=${offset}&limit=${limit}&sort=${sort})** and groups **(https://${domain}/wp-json/dt-posts/v2/groups?offset=${offset}&limit=${limit}&sort=${sort})** end-points?

[2020-11-12 21:50] raschdiaz commented on #495
Hi @corsacca in which end-point this data its returned?

[2020-11-13 08:03] corsacca commented on #495
The contact has 3 reason fields
reason_paused - for the paused status
reason_closed - for the closed status
reason_unassignable - for the not ready status.

You'll find it on the contact when the value is set.

[2020-11-13 08:06] corsacca commented on #360
@raschdiaz In the `tags` field.

[2020-11-17 15:32] ericchen59 opened #497 "When user has over 5000 contact, app crashes upon loading"
<img width="373" alt="Screen Shot 2020-11-17 at 10 31 53 AM" src="https://user-images.githubusercontent.com/26180602/99410213-369ca700-28c0-11eb-87e7-240ae462ff67.png">

[2020-11-17 19:34] raschdiaz commented on #353
Hi @corsacca can you add this data in the dtdemo.disciple.tools instance please? Currently we can't work on the dtappdemo.wpengine instance.

[2020-11-17 21:14] ericchen59 commented on #353
@raschdiaz can't work on Dtappdemo.wpengine.com because of the 5k+ contacts crash?

[2020-11-17 22:02] raschdiaz commented on #353
@ericchen59 the problem seems to be related to the JSON structure returned by the **contacts** end-point, missing several properties (like contact_status).

[2020-11-17 22:29] raschdiaz commented on #491
Hi @ericchen59 we implemented the change for Android:

[https://drive.google.com/file/d/1kHaYyxn_sYjAloYa4MdRMlWXXfESKsvH/view](https://drive.google.com/file/d/1kHaYyxn_sYjAloYa4MdRMlWXXfESKsvH/view)

But, by default in iOS, the "arrow" symbol does not appear:
[Nativebase Picker Doc](https://docs.nativebase.io/Components.html#picker-def-headref)

[2020-11-18 13:43] ericchen59 commented on #497
Per @corsacca on Slack:

@David Fernandez @Hans Rasch About the stopper. We started discussing this issue here: https://disciple-tools.slack.com/archives/CFA2S41DK/p1603376774163000
It looks like the mobile app currently tries to load contacts 5000 at a time.  Can we try loading 500 or 1000 at a time? This needs to be fixed for any instance.

Also @Hans Rasch you can log in with your other user an

[2020-11-18 16:22] #491 closed

[2020-11-18 16:22] #497 closed

[2020-11-18 16:38] raschdiaz commented on #497
Hi @ericchen59 @corsacca @zdmc23 after set the pagination to 1000 to the contacts/groups endpoints the app load correctly:

[https://drive.google.com/file/d/1jf_20D-uEv2zU-8W5fZisFwemB0WPPga/view?usp=sharing](https://drive.google.com/file/d/1jf_20D-uEv2zU-8W5fZisFwemB0WPPga/view?usp=sharing)

[2020-11-18 21:46] raschdiaz commented on #353
@corsacca which id/names will gonna use on the tiles to the existing tabs for contact ("detail", "progress", "connections") and group ("detail", "progress", "members", "groups")?

[2020-11-19 08:02] corsacca commented on #497
Brilliant!

[2020-11-19 08:57] corsacca commented on #353
@raschdiaz
Here are there current ids and names:
Contact record
- `relationships` => Connections
- `faith` => Progress
- `other` => Other
- `details` => Details

Group record
- `relationships` => Member List
- `groups` => Groups
- `health-metrics` => Church Health
- `other` => Other
- `details` => Details

[2020-11-19 22:16] raschdiaz commented on #353
Hi @corsacca please, can you give some an example custom tile for each field value type? ('key_select', 'multi_select', 'boolean', 'date', 'number', 'user_select', 'number', 'location', 'connection', 'text')

[2020-11-20 14:03] corsacca commented on #353
@raschdiaz thanks for asking!
![image](https://user-images.githubusercontent.com/24901539/99808541-51318300-2b41-11eb-84ab-e7b80029cd69.png)

I've added all of them expect `boolean` and `user_select` as the theme does have a "custom" way to display them. You can skip those two for now.

[2020-11-21 05:33] ericchen59 commented on #410
Video of flow
https://drive.google.com/file/d/1JN8EnmnVQt5LVtBM-ObGy41bVPHRlSsy/view?usp=sharing

Acceptance Criteria
- [ ] in (contacts, groups) at bottom of list, there should only be the word _Load More_ if there are more contacts and groups to be loaded

[2020-11-21 05:44] ericchen59 opened #500 "Contact list doesn't differentiate between "All Contacts" and "My Contacts" in the search filter chiclet area"
User story: As a user, I want to be able to know if I am looking at a list of contacts in the "All Contacts", "My Contacts", etc categories of lists, so that I can more quickly identify which list of contacts I am looking at.

Potential location of additional chiclet to indicate which list the user is looking at
![IMG_3198](https://user-images.githubusercontent.com/26180602/99868673-7ef2e800-2b92-

[2020-11-21 05:46] ericchen59 opened #501 "Pin contacts to the top of a (contact, group) list"
placeholder

[2020-11-21 05:47] ericchen59 opened #502 "Enable drag and drop of (contacts, groups) in a "home" list view"
placeholder

[2020-11-21 05:48] ericchen59 opened #503 "Search within a filtered list for (contacts, groups)"
Currently, when viewing a filtered list -> the search feature removes the filter and searches the entire list of (contacts, groups)

[2020-11-21 05:49] ericchen59 opened #504 "Show # of search results"
User Story: as a user, I want to see the number of contacts loaded on my screen, so that I will be able to better understand the relevance of my search keywords

Acceptance Criteria:
- [ ] user is able to see visual feedback regarding how many contacts are currently showing from a search
- [ ] user is able to see how many contacts are currently loaded

[2020-11-21 05:50] ericchen59 opened #505 "Enable sorting features for any search queries in (contacts, groups)"
placeholder

[2020-11-21 05:52] ericchen59 opened #506 "Select and edit multiple contacts (bulk edit)"
delete, share, FAB things

UX: tap and hold - then tap to add or remove additional contacts | mimic Google Contacts app behavior

[2020-11-21 05:59] ericchen59 opened #507 "Consider a different color instead of red to indicate either Closed or New Contact"
Website has red color to indicate status of Closed and New Contact - they both determine some kind of next step. However, on the mobile app, having both Closed and New Contacts indicated by a red dot make it difficult to quickly scan the list to see how much "work" you'll have to do with New Contacts.

[2020-11-23 02:12] zdmc23 opened #508 "Manual refresh removes search filter"
When a user selects a filter (e.g., "My Contacts" or a Custom Filter) then the expectation is that a manual pull-down refresh with that filter enabled will simply refresh a query with that same filter.  Instead, the filter is removed and the original list all query is re-run.

Steps to reproduce:
1. Login
1. Select "My Contacts"
1. Select any sub-category (e.g., "Yay! New Contacts")
1. Pull down t

[2020-11-23 02:20] zdmc23 commented on #474
This no longer works, and may be related to #497 implementation.

Observed on iOS 14 and Android 7.1

Steps to reproduce:
1. Clear Expo cache/data (delete/re-install Expo app on iOS)
1. Login
1. Select "Custom Filters" ("My Contacts" also no longer working!)
1. Select "Tunis" (or any available Custom Filter)
1. Observe no contacts are displayed on the app, but if you see attached screenshots, ther

[2020-11-23 02:24] zdmc23 opened #509 "Search is not working properly"
Search is not working properly, and it may be related to #497 implementation

Observed on iOS 14

Steps to reproduce:
1. Login
1. Search for any Contact not in initially returned list

![509-broke](https://user-images.githubusercontent.com/191707/99924628-10846600-2d09-11eb-83f6-6a9577005fb8.PNG)

Contact exists and is assigned to my user

![509-works](https://user-images.githubusercontent.com/191

[2020-11-23 13:42] raschdiaz commented on #474
Hi @ zdmc23 seeing this, we consider that we need an example of each custom filter to be able to perform tests and verify that they work correctly

[2020-11-23 13:47] raschdiaz commented on #509
Hi @zdmc23 , the search bar works with the current list of contacts/groups for online/offline modes.

[2020-11-23 16:42] ericchen59 opened #510 "Change status of (contact, group) while in view mode"
[DTMA-4]

[2020-11-23 21:27] raschdiaz commented on #353
We found a problem with the following fields:

Location field: In the web, when we try to set a new value, the field does not show options.

Groups field: This will apply to all "multi value" field like this (select field, location field, multi select field): we are not sure how to relate the value with the respective list (contacts, groups, locations, users. etc). This happens because the app map

[2020-11-23 22:29] raschdiaz commented on #495
Hi @corsacca there is some end-point to get the translations to this options? Or we can set it in the app?

[2020-11-24 01:54] zdmc23 commented on #509
Hi @raschdiaz , that is not acceptable for a user in online mode.  Please check this video: https://youtu.be/tYOmYEVw-fU

In this case, I scroll through hundreds of contacts, click `Load More` and I still cannot search for the Contact that I want (`Yorkoffline Test`).  We cannot ask the user to scroll through hundreds and hundred of Contacts.  The mobile website enables search and it uses the same

[2020-11-24 02:51] raschdiaz commented on #509
Hi @zdmc23 , then, we can implement the following approach:

Detect the current ONLINE/OFFLINE state to do the "text search".

**ONLINE**: Do a request to get the results, add/update the results to the persisted list.

**OFFLINE**: Filter the persisted list.

[2020-11-24 08:54] corsacca commented on #495
@raschdiaz those fields are all in the field list. So they translations are the same as the other fields.

[2020-11-24 09:16] corsacca commented on #353
@raschdiaz I see the bug on the location field. I'll try to fix it.

The offline behavior i don't fully understand. It seems to me that we already have **connection** and **date** fields implemented in other areas. Could we implement the same logic as there?
@zdmc23 would you be able to add any insight? This is a couple layers deeper than i've explored.

[2020-11-24 09:18] ahillbilly commented on #474
@raschdiaz ,  Have you guys played with how the custom filters work on the web version?  The YouTube channel has a tutorial for use of custom filters.  Please watch it to fully understand the functionality that you're mimicking on mobile.

https://www.youtube.com/watch?v=n6ZiQmBGdr8&list=PLAF7wU9d7FkL7EVC57EwJmRoqnaEBae-x&index=3

Because the filters are custom creations saved on the web version,

[2020-11-24 17:44] raschdiaz commented on #495
Hi @ericchen59 @corsacca see the following video showing the implementation:

[https://drive.google.com/file/d/1l7D4XvWt4uYDcspwTjaHKZyLg2OT3rQ3/view?usp=sharing](https://drive.google.com/file/d/1l7D4XvWt4uYDcspwTjaHKZyLg2OT3rQ3/view?usp=sharing)

[2020-11-24 19:56] raschdiaz commented on #474
@ahillbilly Yes, as we understand, in the web platform, filters are used through requests (GET).

In order to support **OFFLINE** mode, the mobile app performs a 'handmade' process (maps the filters obtained from the API so that they match with the JSON structure of the contacts / groups persisted in the app, and do the search according to this), and thus they are returned results.

[2020-11-24 20:25] raschdiaz commented on #430
Hi @mikeallbutt , can you give me some credentials which username its an email?

[2020-11-24 21:44] raschdiaz commented on #353
Hi @corsacca , we have noticed that the end-point 'wp-json / dt-posts / v2 / contacts / settings' returns the 'type' and 'post_type' of each field:

![image](https://user-images.githubusercontent.com/16809967/100154800-2cf0e180-2e74-11eb-93fd-1f727433fba4.png)

With this info we can know which type of value are using the field.

[2020-11-25 10:57] corsacca commented on #353
@raschdiaz awesome.
The locations field should now work as well.

[2020-11-25 12:44] mikeallbutt commented on #430
@raschdiaz I sent you the logins via slack.

[2020-11-25 13:07] zdmc23 commented on #353
@corsacca @raschdiaz

A simple way to think about our offline strategy is that we have is to aggressively get as much data as we can from the API when online, and then order (FIFO) our offline updates to push when back online.  In this case, we would want to leverage the `settings` endpoint to cache the custom tile definition (`type` and `post_type`) when we're online.  An example of a more comple

[2020-11-30 14:24] raschdiaz commented on #353
Hi @corsacca , we check the 'wp-json/dt-posts/v2/groups/settings' end-point but the property "tiles" does not appear.

Contacts end-point:
![image](https://user-images.githubusercontent.com/16809967/100621510-c2b1c400-32ed-11eb-9edd-d4c95a77e3d1.png)

Groups end-point:
![image](https://user-images.githubusercontent.com/16809967/100621546-ce04ef80-32ed-11eb-9930-77632d256ade.png)

[2020-11-30 14:31] corsacca commented on #353
Apologies. I missed that setting. It should be available now.

[2020-11-30 22:48] raschdiaz commented on #353
Hi @corsacca , in this issue its mentioned that the app can add new fields in the existing tiles (details, relationships, faith).
Can you add some examples to this flow (contact/group) please?

[2020-12-01 00:41] ericchen59 commented on #353
@raschdiaz - I didn't see where we said this issue should enable the ability for a user to add new fields (the focus of this issue was to just **view custom tiles and associated data**...can you quote the part of the convo? I read though, but maybe I misunderstood somewhere...

[2020-12-01 09:24] corsacca commented on #353
@raschdiaz the other tiles (details, relationship, faith, etc) are not custom and don't currently allow custom fields.
This will be upgraded when v1 of the theme comes out, but isn't ready yet.
So if the functionality works for the custom tiles and custom fields then i'd consider this issue complete.

[2020-12-01 16:35] raschdiaz commented on #353
Hi @ericchen59 @zdmc23 @mikeallbutt @corsacca @ahillbilly , as mentioned in the Slack, we complete this issue implementing the custom fields on custom tiles. See the following example video:

[https://drive.google.com/file/d/1ljDvx6JtvafxQkdsVhPMkHpfbYdoYfJZ/view?usp=sharing](https://drive.google.com/file/d/1ljDvx6JtvafxQkdsVhPMkHpfbYdoYfJZ/view?usp=sharing)

[2020-12-01 21:11] zdmc23 opened #512 "Test Automation IDs for Login workflow"
Add Test Automation IDs in support of automating the testing of the Login workflow (PoC, and then rollout throughout app)

This also kicks off the new effort around Accessibility...

Since we're already relying on `accessibilityLabel` properties as Test Automation IDs (per FB recommendation: https://reactnative.dev/docs/testing-overview#testing-user-interactions), then we should get this project u

[2020-12-01 21:14] #512 closed

[2020-12-01 21:28] zdmc23 commented on #512
See also:
- https://appiumpro.com/editions/76-testing-react-native-apps-with-appium
- https://github.com/facebook/react-native/pull/9942
- https://93days.me/testing-react-native-application/
- https://testingbot.com/blog/react-native-testing

[2020-12-01 23:31] #353 closed

[2020-12-03 04:46] ericchen59 commented on #474
Progress note: As of today, this will issue will present itself for the user who has over 1000 contacts. I'm going to take the liberty to assume this will be a issue best solved at a future date, as the mobile app matures.

[2020-12-03 04:57] ericchen59 commented on #508
User story: As a user, I want to be able to manual pull-down refresh a list that has been filtered by search, so that I can receive any updated information from the server.

Acceptance Criteria:
- [ ] manual pull-down refresh does not remove filter or search terms
- [ ] manual pull-down refresh gets new information that might have been edited from the D.T. web version

[2020-12-03 05:06] ericchen59 commented on #503
duplicate from #508

[2020-12-03 05:07] #503 closed

[2020-12-03 05:09] ericchen59 commented on #496
Reference answer from DT team on tag field behavior:

<img width="711" alt="Screen Shot 2020-12-03 at 12 09 05 AM" src="https://user-images.githubusercontent.com/26180602/100966781-c1ee7d00-34fb-11eb-9202-3864cc419fa8.png">

[2020-12-03 05:18] ericchen59 commented on #354
User story: As a user, I want to see a badge notification on my DT app icon, so that I can quickly tell if there are any outstanding actions on the app.

Acceptance Criteria:
- [ ] For Android 8+, this will be the dot with push-and-hold view of notifications.
- [ ] For iOS, this will be a count.

[2020-12-03 05:22] #466 closed

[2020-12-03 05:33] ericchen59 commented on #471
User story: as a user, I want to be able to see if a record belongs to a current user in the instance, so that when I use _Assigned to_ or _Sub-assigned to_ I am able to see who are other users (multipliers, dispatcher, marketer, etc) in the instance

**Example photos from DT web app**
_Assigned to_
<img width="226" alt="Screen Shot 2020-12-03 at 12 30 32 AM" src="https://user-images.githubusercon

[2020-12-03 05:39] ericchen59 opened #514 "In Custom Tile - date of birth between View and Edit mode do not match"
per @mikeallbutt's instance

![Screenshot_20201202-131358](https://user-images.githubusercontent.com/26180602/100968757-f2d0b100-34ff-11eb-9028-9a0529bbc59f.png)
![Screenshot_20201202-131339](https://user-images.githubusercontent.com/26180602/100968760-f3694780-34ff-11eb-8bd9-e049901e92e2.png)

[2020-12-03 05:43] ericchen59 opened #515 "After "mark all", in-app notification badge with count does not go away"
per @mikeallbutt's instance

Was not able to replicate issue on @ericchen59's iOS 14.2.1

<img width="702" alt="Screen Shot 2020-12-03 at 12 41 18 AM" src="https://user-images.githubusercontent.com/26180602/100969142-9b7f1080-3500-11eb-9b49-bff44a06f655.png">

[2020-12-03 05:45] ericchen59 opened #516 "Sub-assigned to list choices do not match the DT web version"
![Screenshot_20201116-091246](https://user-images.githubusercontent.com/26180602/100969271-d7b27100-3500-11eb-904f-7f6c7c1c2b41.png)
![Screenshot_20201116-091609](https://user-images.githubusercontent.com/26180602/100969273-d8e39e00-3500-11eb-9c2b-634c0b0226f8.png)

[2020-12-03 05:48] ericchen59 opened #517 "USA locations below state level do not show up as options"
DT web app will show options for USA locations on the city or address level of specificity. The DT mobile app is not able to do the same

<img width="522" alt="Screen Shot 2020-12-03 at 12 47 13 AM" src="https://user-images.githubusercontent.com/26180602/100969438-16482b80-3501-11eb-99dd-2d8c08b451a1.png">

[2020-12-03 06:08] ericchen59 commented on #501
[DTMA-9]

[2020-12-03 06:10] ericchen59 commented on #217
[DTMA-10]

[2020-12-03 06:11] ericchen59 commented on #91
[DTMA-11]

[2020-12-03 06:14] ericchen59 commented on #148
[DTMA-12]

[2020-12-03 06:15] ericchen59 commented on #393
[DTMA-14]

[2020-12-03 06:16] ericchen59 commented on #224
[DTMA-13]

[2020-12-03 09:20] mikeallbutt commented on #515
This was seen on a Motorola g 6 using Android 9.

[2020-12-03 14:14] ericchen59 commented on #410
There are Load More in multiple places, @ericchen59 do a double check

[2020-12-03 14:17] ericchen59 opened #518 "Transition conversation (Zach and TDM)"
@zdmc23 - can you shrae a little bit more how big this particular work will take? (hours, etc)

[2020-12-04 07:36] ericchen59 commented on #320
[dtma-21]

[2020-12-04 07:40] ericchen59 commented on #391
[DTMA-21]

[2020-12-04 07:45] ericchen59 commented on #469
[DTMA-24]

[2020-12-04 21:31] raschdiaz commented on #360
Hi @mikeallbutt @corsacca @ahillbilly @ericchen59 see the following video with the implementation:

[https://drive.google.com/file/d/1mhKtZ6E-JTRil1JUvlxlrKdS4R6uwxfk/view?usp=sharing](https://drive.google.com/file/d/1mhKtZ6E-JTRil1JUvlxlrKdS4R6uwxfk/view?usp=sharing)

Additionally, we found and resolve several bugs in the app.

[2020-12-05 02:26] mikeallbutt commented on #360
@raschdiaz i have been trying for hours to watch the video but it doesn't load. Anyone else getting this issue?
@zdmc23

[2020-12-05 04:09] ericchen59 commented on #360
![image](https://user-images.githubusercontent.com/26180602/101233283-b038e100-3685-11eb-8f0b-44d60b999e2c.png)

Also didn't load for me. Try to reload the video @raschdiaz ?

[2020-12-05 04:18] raschdiaz commented on #360
I dont know what is happening with google drive... Can you try dowloading the video?.

[2020-12-06 00:20] #360 closed

[2020-12-07 15:21] raschdiaz commented on #430
Hi @mikeallbutt @ericchen59 @corsacca we apply a modification to save the username write by the user on the login screen (previously, the mobile app save the user_nicename prop returned by the API). For some reason the API return the username this way:

![image](https://user-images.githubusercontent.com/16809967/101368765-8a722e80-3875-11eb-8da9-f9eb9f1e3f32.png)

[https://drive.google.com/file/d/

[2020-12-07 15:27] corsacca commented on #430
@raschdiaz Why do you wish to update the username on the server? It is not possible to do so via the API or even on the WP-admin. The user_nicename is a different field not used for login.

Can the form simply be filled with the last value the user entered?

[2020-12-07 15:31] raschdiaz commented on #430
Hi @corsacca sorry, I updated my comment.

[2020-12-07 15:37] #430 closed

[2020-12-07 15:41] zdmc23 commented on #518
Hi @ericchen59, I anticipate at least 2 @ 1 hr meetings.  After the first 2, we can decide whether any additional meetings are necessary.  Thx!

[2020-12-07 15:53] ericchen59 opened #521 "Expo (Android 9, oikos.disciple.tools and iOS 14.2.1, dtappdemo.wpengine.com) - tapping Save button does not produce a result"
Re @mikeallbutt:
<img width="352" alt="Screen Shot 2020-12-07 at 10 51 05 AM" src="https://user-images.githubusercontent.com/26180602/101372638-1dad6300-387a-11eb-906d-64c94668a94e.png">

Areas so far:
- [ ] assign second subuser
- [ ] changing status to Closed
- [ ] Changing group status

To do:
- [ ] reproducible in other Expos?

[2020-12-07 15:56] ericchen59 opened #522 "Custom Tile shows on Web, but not on Mobile"
Re: @mikeallbutt
<img width="810" alt="Screen Shot 2020-12-07 at 10 54 50 AM" src="https://user-images.githubusercontent.com/26180602/101373156-a4624000-387a-11eb-95e8-ff914c137f50.png">

To Do
- [ ] Why?
- [ ] Steps to mitigate
- [ ] Solution? (Detect plugin doesn't send info to mobile and communicate on mobile: "information from this tile can only be seen on the web version”?

[2020-12-07 15:59] ericchen59 opened #523 "Applying custom filter crashes app"
re: @mikeallbutt (Android 9)

Flow: https://drive.google.com/file/d/1yV0mTYcmCsJ4sQ1GWPL4a4O4GmiHGnvj/view?usp=sharing

[2020-12-12 01:04] raschdiaz commented on #358
Hi @ericchen59 @mikeallbutt see the following video showing a example flow:

[https://drive.google.com/file/d/1o27e5givF5lWFhYiLD67K7DA2Ty1-ZiC/view?usp=sharing](https://drive.google.com/file/d/1o27e5givF5lWFhYiLD67K7DA2Ty1-ZiC/view?usp=sharing)

FYI: @corsacca we found that the first option of all contact status reasons not have a label text to show in the dropdowns, please add the remaining text

[2020-12-13 00:01] #358 closed

[2020-12-13 00:13] zdmc23 commented on #509
Hi @raschdiaz , I would propose a slightly revised version of that approach:

1. Filter the persisted list
2A. If Contact/Group exists in persisted list, Then display
2B. Else, Detect the current ONLINE/OFFLINE state
3A. If ONLINE, then do a request to get the results, add/update the results to the persisted list
3B. If OFFLINE, then display an error message letting the user know the situation. Mo

[2020-12-13 00:22] zdmc23 commented on #518
We met for 1 hr on 12/10 and covered my open questions. Thx TDM Team!

[2020-12-13 00:22] #518 closed

[2020-12-13 08:14] ericchen59 commented on #509
@zdmc23

shortened version:

original version:

[2020-12-15 09:04] corsacca commented on #358
The label is intended to be empty in the dropdown.

[2020-12-15 17:00] raschdiaz commented on #508
Hi @zdmc23 @ericchen59 see the following video showing the example flow:

[https://drive.google.com/file/d/1oGU_wtbJDX4b3p5aSA5EqaqoY5X4u6Fi/view?usp=sharing](https://drive.google.com/file/d/1oGU_wtbJDX4b3p5aSA5EqaqoY5X4u6Fi/view?usp=sharing)

In the video, we show 2 flows:

- Update the contact 'hans 1024' status from 'Paused' to 'Active' on web, and then refresh the list in the mobile app.
- Upd

[2020-12-15 18:17] #508 closed

[2020-12-16 06:32] ericchen59 opened #526 "Move Filter button from (Contacts, Groups) into another location"
[DTMA-33]

[DTMA-33]: https://discipletools.atlassian.net/browse/DTMA-33

[2020-12-16 06:48] ericchen59 opened #527 "Share button doesn't actually create a sharing action"
[DTMA-34]

[DTMA-34]: https://discipletools.atlassian.net/browse/DTMA-34

When sharing contact with another user/contact in D.T., the sharing action and "close" button doesn't actually save any kind of result.

Flow: https://drive.google.com/file/d/1lfv5kJAprJjtX35ML4X-3NYu6b0tqOfB/view?usp=sharing

[2020-12-16 08:01] ericchen59 opened #528 "Contact>Edit>change status, cannot save"
I was looking at another bug (cannot see status), and when I tried the workflow: Contact>Edit>Change Status>Save, I was not able to save

Flow: https://drive.google.com/file/d/1mKVoSQPf1fzPuyXGvFSHI6Uqb12og6Nb/view?usp=sharing

[2020-12-16 12:58] raschdiaz commented on #528
Hi @ericchen59 we found this issue working in the #509 issue. We already fix this.

[2020-12-16 22:19] #528 closed

[2020-12-16 22:19] #509 closed

[2020-12-16 22:23] raschdiaz commented on #509
Hi @zdmc23 @ericchen59 see the following video with the implementation:

[https://drive.google.com/file/d/1oN7mMhAHzWDhvQVUSpgLBhk7mgoFZ3IB/view?usp=sharing](https://drive.google.com/file/d/1oN7mMhAHzWDhvQVUSpgLBhk7mgoFZ3IB/view?usp=sharing)

[2020-12-16 23:51] zdmc23 commented on #509
Nice @raschdiaz !  Thx

[2020-12-17 06:38] ericchen59 commented on #521
replicated on iPhone 12 mini, iOS 14.2.1

[2020-12-17 07:40] ericchen59 opened #530 "consider swiping for quick actions"
https://support.ticktick.com/hc/en-us/articles/360011475052-Swipe-for-quick-actions

[2020-12-17 07:48] ericchen59 opened #531 "More clearly indicate a contact is closed or open"
When selecting from a list of contacts for _Assigned to_ or _Subassigned to_, the web app uses a "light gray" font color to indicate a contact record is **closed**. A similar way to indicate a contact as closed or open when looking at a list of contacts on the mobile app would be helpful.

![Screen Shot 2020-12-17 at 2 46 00 AM](https://user-images.githubusercontent.com/26180602/102458270-00af2780

[2020-12-17 08:02] ericchen59 opened #532 "Custom Filter does not show contacts available on web version"
Selecting a custom filter on mobile app does not load any contacts

Flow: https://drive.google.com/file/d/1T0dUxnk8vs9SaQ64U8clSK5kt751F96J/view?usp=sharing